.element-product-grid {
  .item {
    position: relative;

    &__link {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
    }

    &__image {
      position: relative;
      margin-bottom: 2rem;

      .secondary-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        img {
          @include transition();
        }
      }
    }

    &__title {
      @include transition();
    }

    &:hover {
      .secondary-image {
        img {
          transform: scale(1.6);
        }
      }

      .item__title {
        color: $color-hover;
      }
    }
  }
}