.element-album-gallery {
  &__warp {
    display: grid;

    .item {
      @include transition();

      img {
        width: 100%;
      }

      &:hover {
        box-shadow: 0 .3rem .5rem #888888;
      }
    }
  }
}