.element-introduce {
  position: relative;
  display: grid;
  overflow: hidden;

  @media (min-width: 1200px) {
    grid-template-columns: 81rem 1fr;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    grid-template-columns: 60rem 1fr;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 479px) {
    border-radius: 1rem;
  }

  .thumbnail-box {
    @media (max-width: 479px) {
      height: 40rem;
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .body-box {
    @include transition();

    @media (min-width: 480px) {
      display: flex;
    }

    @media (max-width: 479px) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      @include transition();
    }

    &__warp {
      background-color: #FFFCE1;
      
      @media (min-width: 992px) {
        padding: 1.5rem 3.8rem 1.1rem 3.5rem;
      }

      @media (min-width: 480px) and (max-width: 991px) {
        padding: 1.5rem 2rem;
      }

      @media (min-width: 480px) {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
      
      @media (max-width: 479px) {
        padding: 1.4rem 1.6rem;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        background-color: rgba(45, 43, 43, 0.31) !important;
        @include transition();
      }
    }

    .heading {
      margin-bottom: .6rem;

      span {
        display: inline-block;
        color: #4A3213;
        line-height: 1.375;

        @media (min-width: 480px) {
          padding-bottom: .6rem;
          text-shadow: .2rem .2rem 0 rgba(0, 0, 0, 0.25);
          border-bottom: .1rem solid #000000;
        }

        @media (max-width: 479px) {
          color: #FDCD26 !important;
        }
      }
    }

    .sub-heading {
      font-size: 1.4rem;
      line-height: 1.358;

      @media (min-width: 480px) {
        font-style: italic;
      }

      @media (max-width: 479px) {
        margin-bottom: 0;
        color: #ffffff !important;
        @include transition();
      }
    }

    .desc {
      font-size: 1.3rem;
      line-height: 2.3;

      @media (min-width: 480px) {
        text-align: justify;
        display: flex;
        flex: 1;
        align-items: flex-end;
      }

      @media (max-width: 479px) {
        color: #ffffff !important;
        font-weight: 700;
        opacity: 0;
        height: 0;
        visibility: hidden;
      }
    }
  }
  
  &:hover {
    @media (max-width: 479px) {
      .body-box {
        background-color: rgba(45, 43, 43, 0.31);

        &__warp {
          bottom: 50%;
          background-color: transparent;
          transform: translateY(50%);
        }

        .sub-heading {
          margin-bottom: 3rem;
        }

        .desc {
          opacity: 1;
          visibility: visible;
          height: auto;
          @include transition();
        }
      }
    }
  }
}