.element-contact-form-7 {
  .heading {
    margin-bottom: 1.8rem;
    color: #FF0000;
    line-height: 1.2;

    span {
      &.has-gradient {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .sub-heading {
    margin-bottom: 2.6rem;
  }

  form {
    &.wpcf7-form {
      .label {
        margin-bottom: .8rem;
        font-style: italic;
        font-weight: 900;

        @media (min-width: 576px) {
          font-size: 1.6rem;
        }

        @media (min-width: 575px) {
          font-size: 1.2rem;
        }
      }

      .group-box {
        + .group-box {
          margin-top: 3rem;
        }
      }

      .grid-field {
        display: grid;
        grid-gap: 2.4rem;

        @media (min-width: 576px) {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      .wpcf7-form-control-wrap {
        margin: 0;

        .wpcf7-form-control {
          border-radius: .5rem;
          border-color: #D9D9D9
        }

        .wpcf7-textarea {
          height: 15rem;
        }
      }

      .wpcf7-checkbox {
        .wpcf7-list-item {
          display: block;
          margin: 0;

          label {
            margin: 0;
            display: flex;

            input {
              flex: 0 0 1.5rem;
            }

            .wpcf7-list-item-label {
              margin-left: 1.2rem;
              font-weight: 400;
            }
          }
        }
      }

      .group-grid-check {
        .wpcf7-checkbox {
          display: grid;

          @media (min-width: 480px) {
            grid-gap: 1.2rem 2.4rem;
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }

      .group-box {
        .grid-column {
          display: grid;

          @media (min-width: 480px) {
            grid-gap: 2.4rem;
            grid-template-columns: repeat(2, 1fr);
          }

          .item {
            &.has-grid {
              display: grid;
              grid-gap: 1.2rem;

              @media (min-width: 768px) {
                grid-template-columns: max-content 1fr;
              }

              @media (max-width: 479px) {
                .item__left {
                  display: none;
                }
              }
            }
          }
        }
      }

      p {
        &:has(.wpcf7-submit) {
          position: relative;
          margin-top: 3rem;
          text-align: center;

          .wpcf7-spinner {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      .wpcf7-submit {
        padding: .7rem 2.6rem 0.5rem;
        font-weight: 700;
        color: #000000;
        font-size: 1.6rem;
        line-height: 1.2;
        font-family: $font-f-second;
        border: 1px solid #FDCD27;
        border-radius: .5rem;
        background: transparent;
      }
    }
  }
}