.element-count-up {
  text-align: center;

  .heading {
    position: relative;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    font-size: 1.8rem;

    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      width: 9rem;
      height: .1rem;
      background-color: currentColor;
      transform: translateX(-50%);
    }
  }

  .txt {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 1.1;
  }
}