.element-slider {
  &__warp {
    .item {
      position: relative;

      .link {
        display: inline-block;
        position: absolute;
        color: #ffffff;
        text-align: center;

        @media (min-width: 768px) {
          padding: .3rem 2rem;
          left: 3rem;
          bottom: 3rem;
          min-width: 12rem;
        }

        @media (max-width: 767px) {
          padding: .2rem 1rem;
          top: 50%;
          left: 50%;
          font-size: 1.2rem;
          background-color: $color-hover;
          transform: translate(-50%, -50%);
        }
      }
    }

    &.owl-carousel {
      .owl-nav {
        margin: 0;

        button {
          margin: 0;
          position: absolute;
          background-color: #ffffff;
          @include flex-center();

          @media (min-width: 768px) {
            @include square(4rem, 50%);
            bottom: 2.4rem;
          }

          @media (max-width: 767px) {
            top: 50%;
            @include square(3rem, 50%);
            transform: translateY(-50%);
          }

          i {
            font-size: 2.8rem;
            color: $color-quaternary;
            @include transition();

            @media (min-width: 768px) {
              font-size: 2.8rem;
            }

            @media (max-width: 767px) {
              font-size: 1.8rem;
            }

            &:hover {
              color: #000000;
            }
          }

          &.owl-prev {
            @media (min-width: 768px) {
              right: 8rem;
            }

            @media (max-width: 767px) {
              left: 1.2rem
            }
          }

          &.owl-next {
            @media (min-width: 768px) {
              right: 3.2rem;
            }

            @media (max-width: 767px) {
              right: 1.2rem
            }
          }
        }
      }

      .owl-dots {
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1.2rem;
      }
    }
  }
}