.element-image-grid-overlay {
  display: grid;
  grid-auto-rows: min-content;

  .item {
    position: relative;
    @include flex-center();

    &:before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-color: rgba(0,0,0,0.5);
      @include transition();
    }

    &__image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__heading {
      padding: 0 1rem;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      z-index: 1;
      text-align: center;
      transform: translateY(-50%);
      @include transition();

      .title {
        margin: 0;
        font-size: 2.4rem;
        color: #ffffff;
        @include transition();
      }
    }

    &__body {
      padding: 1rem;
      position: relative;
      color: #ffffff;
      font-size: 1.3rem;
      text-align: center;
      font-weight: 700;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      @include transition();
    }

    &:hover {
      .item__heading {
        opacity: 0;
        visibility: hidden;
      }

      .item__body {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}