@import "../../variables-site/variables";

@import "../../components/discover_search_form";

.search-form-discover {
  margin-bottom: 2.8rem;

  @media screen and (min-width: 1200px) {
    display: grid;
    grid-gap: 2.5rem 5rem;
    align-items: center;
    grid-template-columns: 80% 1fr;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s;
  }

  .scroll-box {
    padding: 0 3.5rem;

    @media (max-width: 1199px) {
      margin-bottom: 3rem;
    }
  }

  .group-check {
    &__item {
      position: relative;

      &:last-child {
        &:after {
          @media screen and (max-width: 991px) {
            display: none;
          }
        }
      }

      .btn {
        display: block;

        @media screen and (max-width: 991px) {
          text-align: left;
        }
      }
    }

    .slick-slide {
      position: relative;
      padding-right: 2rem;

      ~ .slick-slide {
        &:before {
          left: -2.2rem;

          @media (min-width: 576px) {
            position: absolute;
            content: "";
            top: .5rem;
            bottom: .5rem;
            width: 1px;
            background-color: $color-black;
          }
        }
      }
    }

    &.slick-slider {
      .slick-arrow {
        padding: 0;
        width: auto;
        height: auto;
        background-color: transparent;

        &:hover {
          color: $color-hover;
        }

        &.slick-prev {
          left: -3.5rem;
        }

        &.slick-next {
          right: -3.5rem;
        }
      }
    }
  }
}

.site-discover-cat {
  .title {
    margin-bottom: 2.8rem;
    text-align: center;
    text-transform: uppercase;
  }
}

.grid-discover {
  margin: 0 -6px;

  &__item {
    margin-bottom: 12px;
    padding: 0 6px;

    @media (min-width: 992px) {
      width: 16.66666667%;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      width: 20%;
    }

    @media (min-width: 576px) and (max-width: 767px) {
      width: 25%;
    }

    @media (min-width: 480px) and (max-width: 575px) {
      width: 33.33333333%;
    }

    @media (max-width: 479px) {
      width: 50%;
    }

    img {
      width: 100%;
    }
  }

  .thumbnail-image {
    margin-bottom: 12px;
    overflow: hidden;
    border-radius: 12px;
  }

  .title {
    margin-bottom: 2px;
    font-size: 1.2rem;
  }

  .meta {
    font-size: 1.4rem;
  }

  .view-detail {
    margin-bottom: .6rem;
    cursor: pointer;
    font-size: 1.7rem;
  }
}