// Color
$color-primary: #000000;
$color-secondary: #FACA26;
$color-tertiary: #606060;
$color-hover: #FDCD26;
$color-white: #ffffff;
$color-black: #000000;
$color-red: rgb(255,0,0);

// Background
$background-body: #F7F7F7;
$background-primary: #231F20;
$background-second: rgba(0, 0, 0, 0.6);
$background-tertiary: #FE6032;
$background-btn: #FDCC26;
$background-hover: #FDCE24;

// Border color
$border-color-primary: #000000;