// Color
$color-primary: #000000;
$color-secondary: #FDCE24;
$color-tertiary: #606060;
$color-hover: #FDCE24;
$color-white: #ffffff;

// Background
$background-primary: #000000;
$background-second: rgba(0, 0, 0, 0.6);
$background-tertiary: #FE6032;
$background-btn: #FDCC26;
$background-hover: #FDCE24;

// Border color
$border-color-primary: #000000;