.site-single {
  .single-content-warp {
    padding: 2.4rem 3.4rem;
    background-color: $color-white;

    > div {
      margin-top: 3rem;
    }
  }

  .site-post-image,
  .page-links {
    margin-bottom: 30px;
  }

  .site-post-title {
    margin-bottom: 15px;
  }

  .site-post-excerpt {
    margin-bottom: 15px;
  }

  .site-sidebar {
    .widget_lpwtoc_widget {
      position: fixed;
      max-width: 290px;
      width: 100%;
      top: 15rem;

      > div {
        margin: 0;
      }

      .lwptoc_i {
        padding: 0;
      }
    }
  }

  .element-section-newsletter {
    margin-top: 8rem;
  }
}

.site-post-single-item {
  .site-post-meta {
    margin-bottom: 15px;
  }
}

.site-post-slides {
  position: relative;
  margin-bottom: 30px;

  &.owl-carousel {
    .owl-nav {
      margin: 0;

      .owl-prev,
      .owl-next {
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
      }

      .owl-prev {
        left: 10px;
      }

      .owl-next {
        right: 10px;
      }
    }

    .owl-dots {
      position: absolute;
      padding: 0;
      left: 0;
      bottom: 15px;
      width: 100%;

      .owl-dot {
        &.active,
        &:hover {
          span {
            background-color: $background-hover;
          }
        }
      }
    }
  }
}

.site-post-cat-tag {
  margin-bottom: 20px;

  span {
    display: block;
    margin-bottom: 10px;

    a {
      display: inline-block;
      padding: 3px 7px;
      margin: 0 5px 5px 0;
      border: 1px solid $border-color-primary;
      font-size: 1.2rem;
      @include border-radius(3px);

      &:first-child {
        margin-left: 10px;
      }

      &:hover {
        color: #fff;
        background: $background-hover;
        border: 1px solid $background-hover;
      }
    }
  }
}

.site-post-share {
  margin-bottom: 30px;
}

.site-single-post-related {
  .item {
    display: flex;
    flex-direction: column;
    height: inherit;
  }

  .title-post {
    position: relative;
    margin-bottom: 1.6rem;
    padding-bottom: 1.6rem;
    font-size: 1.8rem;
    flex: 1;

    &:after {
      position: absolute;
      content: "";
      width: 15rem;
      height: .2rem;
      left: 0;
      bottom: 0;
      background-color: $color-secondary;
    }
  }

  .view-post {
    padding: .3rem .5rem;
    display: inline-block;
    font-size: 1.5rem;
    border: 1px solid currentColor;
  }

  .slick-track {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }

  .slick-list {
    margin: 0 -12px;
  }

  .slick-slide {
    margin: 0 12px;
  }

  .slick-slider {
    .slick-arrow {
      padding: 0;
      width: auto;
      height: auto;
      color: $color-black;
      font-size: 3rem;
      border-radius: 0;
      background-color: transparent;

      &:hover {
        color: $color-hover;
      }

      &.slick-prev {
        left: -2.8rem;
      }

      &.slick-next {
        right: -2.8rem;
      }
    }
  }
}