.form-search-project {
  margin-bottom: 3.6rem;

  .control-warp {
    display: grid;

    @media (min-width: 576px) {
      border: .1rem solid #000000;
    }

    @media (min-width: 1224px) {
      grid-template-columns: 1fr 37.5rem;
    }

    @media (min-width: 992px) and (max-width: 1223px) {
      grid-template-columns: 1fr 18rem;
    }

    .btn-dropdown-radio-list {
      padding: .2rem 1rem;
      grid-column: 1 / -1;
      text-align: start;
      color: #ffffff;
      border: 0;
      border-radius: 0;
      background-color: #000000;

      @media (max-width: 575px) {
        display: grid;
        width: 100%;
        grid-gap: 1.2rem;
        grid-template-columns: 1fr auto;
        align-items: center;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .group-control-radio {
    @media (max-width: 575px) {
      border: .1rem solid #000000;
    }

    &__warp {
      @media (min-width: 576px) {
        display: grid !important;
        grid-template-columns: repeat(6, auto);
      }

      @media (max-width: 575px) {
        display: none;

        &:has(.btn-check:checked) {
          display: block;
        }
      }
    }

    .radio-list {
      display: flex;
      align-items: center;

      @media (min-width: 576px) {
        justify-content: center;
      }

      @media (max-width: 575px) {
        text-align: start;
      }

      ~ .radio-list {
        @media (min-width: 576px) {
          border-left: .1rem solid #000000;
        }

        @media (max-width: 575px) {
          border-top: .1rem solid #000000;
        }
      }

      &:last-child {
        @media (min-width: 992px) {
          border-right: .1rem solid #000000;
        }
      }

      .btn-check {
        &:checked {
          + .btn {
            height: 100%;
            width: 100%;
            color: #ffffff;
            border: 0;
            border-radius: 0;
            background-color: #000000;
          }
        }
      }

      .btn {
        font-size: 1.4rem;

        @media (max-width: 575px) {
          padding: .2rem 1rem;
          width: 100%;
          text-align: start;
        }
      }
    }
  }

  .group-search-key {
    position: relative;

    @media (max-width: 575px) {
      margin-top: 1rem;
    }

    .search-field {
      padding: 0 3.2rem 0 1rem;
      border: 0;
      border-radius: 0;

      @media (min-width: 992px) {
        height: 100%;
      }

      @media (max-width: 991px) {
        height: 3.7rem;
      }

      @media (min-width: 576px) and (max-width: 991px) {
        border-top: .1rem solid #000000;
      }

      @media (max-width: 575px) {
        border: .1rem solid #000000;
      }
    }

    .search-submit {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 3rem;
      color: #000000;
      border: 0;
      background-color: transparent;
    }
  }
}