.element-newsletter {
  display: grid;
  grid-gap: 2rem 3rem;
  align-items: center;

  @media (min-width: 992px) {
    grid-template-columns: 40rem 1fr;
  }

  form {
    &.tnp-subscription {
      max-width: none;
      margin: 0;

      @media (min-width: 576px) {
        display: flex;
        grid-gap: 2rem;

        > div {
          margin: 0;
        }
      }

      .tnp-field-email {
        flex: 1;
      }

      .tnp-field-button {
        flex: 0 0 auto;

        .tnp-submit {
          background-color: $color-black;

          @media (max-width: 575px) {
            width: 100%;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}