.action-tax-search {
  margin: 0 0 3.6rem;
}
@media (min-width: 1200px) {
  .action-tax-search {
    display: grid;
    grid-gap: 2.5rem 5rem;
    grid-template-columns: 80% 1fr;
  }
}
.action-tax-search .scroll-box {
  padding: 0 3.5rem;
}
@media (max-width: 1199px) {
  .action-tax-search .scroll-box {
    margin-bottom: 3rem;
  }
}
.action-tax-search .list-cat {
  margin: 0;
  padding: 0;
  list-style: none;
}
.action-tax-search .list-cat__item {
  position: relative;
  display: inline-block;
  font-size: 1.8rem;
  text-align: center;
}
.action-tax-search .list-cat__item a {
  display: block;
}
.action-tax-search .list-cat__item.active a, .action-tax-search .list-cat__item:hover a {
  color: #FACA26;
}
.action-tax-search .list-cat .slick-slide {
  position: relative;
  padding-right: 2rem;
}
.action-tax-search .list-cat .slick-slide ~ .slick-slide:before {
  left: -2.2rem;
}
@media (min-width: 576px) {
  .action-tax-search .list-cat .slick-slide ~ .slick-slide:before {
    position: absolute;
    content: "";
    top: 0.5rem;
    bottom: 0.5rem;
    width: 1px;
    background-color: #000000;
  }
}
.action-tax-search .list-cat.slick-slider .slick-arrow {
  padding: 0;
  width: auto;
  height: auto;
  background-color: transparent;
}
.action-tax-search .list-cat.slick-slider .slick-arrow:hover {
  color: #FDCD26;
}
.action-tax-search .list-cat.slick-slider .slick-arrow.slick-prev {
  left: -3.5rem;
}
.action-tax-search .list-cat.slick-slider .slick-arrow.slick-next {
  right: -3.5rem;
}
.action-tax-search .form-search-box {
  position: relative;
  display: flex;
  align-items: center;
}
.action-tax-search .form-search-box:before {
  position: absolute;
  content: "";
  top: 0.5rem;
  bottom: 0.5rem;
  width: 1px;
  left: -2.5rem;
  background-color: #000000;
}
.action-tax-search .form-search-box .group-control {
  position: relative;
}
.action-tax-search .form-search-box .search-field {
  padding: 0;
  border: none;
  font-size: 1.8rem;
  background-color: transparent;
}
.action-tax-search .form-search-box .search-submit {
  display: none;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 3rem;
  border: none;
  background-color: transparent;
}

.site-discover-cat .heading {
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  font-weight: 600;
}

.grid-discover {
  margin: 0 -6px;
}
.grid-discover__item {
  margin-bottom: 12px;
  padding: 0 6px;
}
@media (min-width: 992px) {
  .grid-discover__item {
    width: 16.66666667%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .grid-discover__item {
    width: 20%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .grid-discover__item {
    width: 25%;
  }
}
@media (min-width: 480px) and (max-width: 575px) {
  .grid-discover__item {
    width: 33.33333333%;
  }
}
@media (max-width: 479px) {
  .grid-discover__item {
    width: 50%;
  }
}
.grid-discover__item img {
  width: 100%;
}
.grid-discover .thumbnail-image {
  margin-bottom: 12px;
  overflow: hidden;
  border-radius: 12px;
}
.grid-discover .title {
  margin-bottom: 2px;
  font-size: 1.2rem;
}
.grid-discover .meta {
  font-size: 1.4rem;
}
.grid-discover .view-detail {
  margin-bottom: 0.6rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.site-result-discover .heading {
  margin-bottom: 2.4rem;
}
.site-result-discover .heading .page-title {
  font-size: 2.4rem;
}
.site-result-discover .form-search-discover {
  margin-bottom: 3rem;
  display: grid;
  grid-gap: 2.4rem;
  grid-template-columns: repeat(2, 1fr) 25rem;
}
.site-result-discover .form-search-discover .group-control {
  margin: 0;
}
.site-result-discover .form-search-discover .search-submit {
  margin: 0;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL2NvbXBvbmVudHMvX2FjdGlvbi10YXgtc2VhcmNoLnNjc3MiLCIuLi92YXJpYWJsZXMtc2l0ZS9jb2xvci5zY3NzIiwiZGlzY292ZXIvYXJjaGl2ZS5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0U7O0FBRUE7RUFIRjtJQUlJO0lBQ0E7SUFDQTs7O0FBR0Y7RUFDRTs7QUFFQTtFQUhGO0lBSUk7OztBQUlKO0VBQ0U7RUFDQTtFQUNBOztBQUVBO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7O0FBRUE7RUFDRTs7QUFLQTtFQUNFLE9DakNROztBRHNDZDtFQUNFO0VBQ0E7O0FBR0U7RUFDRTs7QUFFQTtFQUhGO0lBSUk7SUFDQTtJQUNBO0lBQ0E7SUFDQTtJQUNBLGtCQ2hERTs7O0FEdURSO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7O0FBRUE7RUFDRSxPQ2hFSTs7QURtRU47RUFDRTs7QUFHRjtFQUNFOztBQU1SO0VBQ0U7RUFDQTtFQUNBOztBQUVBO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0Esa0JDeEZROztBRDJGVjtFQUNFOztBQUdGO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7O0FBR0Y7RUFDRTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7OztBRWhISjtFQUNFO0VBQ0E7RUFDQTs7O0FBSUo7RUFDRTs7QUFFQTtFQUNFO0VBQ0E7O0FBRUE7RUFKRjtJQUtJOzs7QUFHRjtFQVJGO0lBU0k7OztBQUdGO0VBWkY7SUFhSTs7O0FBR0Y7RUFoQkY7SUFpQkk7OztBQUdGO0VBcEJGO0lBcUJJOzs7QUFHRjtFQUNFOztBQUlKO0VBQ0U7RUFDQTtFQUNBOztBQUdGO0VBQ0U7RUFDQTs7QUFHRjtFQUNFOztBQUdGO0VBQ0U7RUFDQTtFQUNBOzs7QUFLRjtFQUNFOztBQUVBO0VBQ0U7O0FBSUo7RUFDRTtFQUNBO0VBQ0E7RUFDQTs7QUFFQTtFQUNFOztBQUdGO0VBQ0UiLCJmaWxlIjoiZGlzY292ZXIvYXJjaGl2ZS5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIuYWN0aW9uLXRheC1zZWFyY2gge1xyXG4gIG1hcmdpbjogMCAwIDMuNnJlbTtcclxuXHJcbiAgQG1lZGlhIChtaW4td2lkdGg6IDEyMDBweCkge1xyXG4gICAgZGlzcGxheTogZ3JpZDtcclxuICAgIGdyaWQtZ2FwOiAyLjVyZW0gNXJlbTtcclxuICAgIGdyaWQtdGVtcGxhdGUtY29sdW1uczogODAlIDFmcjtcclxuICB9XHJcblxyXG4gIC5zY3JvbGwtYm94IHtcclxuICAgIHBhZGRpbmc6IDAgMy41cmVtO1xyXG5cclxuICAgIEBtZWRpYSAobWF4LXdpZHRoOiAxMTk5cHgpIHtcclxuICAgICAgbWFyZ2luLWJvdHRvbTogM3JlbTtcclxuICAgIH1cclxuICB9XHJcblxyXG4gIC5saXN0LWNhdCB7XHJcbiAgICBtYXJnaW46IDA7XHJcbiAgICBwYWRkaW5nOiAwO1xyXG4gICAgbGlzdC1zdHlsZTogbm9uZTtcclxuXHJcbiAgICAmX19pdGVtIHtcclxuICAgICAgcG9zaXRpb246IHJlbGF0aXZlO1xyXG4gICAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XHJcbiAgICAgIGZvbnQtc2l6ZTogMS44cmVtO1xyXG4gICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcblxyXG4gICAgICBhIHtcclxuICAgICAgICBkaXNwbGF5OiBibG9jaztcclxuICAgICAgfVxyXG5cclxuICAgICAgJi5hY3RpdmUsXHJcbiAgICAgICY6aG92ZXIge1xyXG4gICAgICAgIGEge1xyXG4gICAgICAgICAgY29sb3I6ICRjb2xvci1zZWNvbmRhcnk7XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcbiAgICB9XHJcblxyXG4gICAgLnNsaWNrLXNsaWRlIHtcclxuICAgICAgcG9zaXRpb246IHJlbGF0aXZlO1xyXG4gICAgICBwYWRkaW5nLXJpZ2h0OiAycmVtO1xyXG5cclxuICAgICAgfiAuc2xpY2stc2xpZGUge1xyXG4gICAgICAgICY6YmVmb3JlIHtcclxuICAgICAgICAgIGxlZnQ6IC0yLjJyZW07XHJcblxyXG4gICAgICAgICAgQG1lZGlhIChtaW4td2lkdGg6IDU3NnB4KSB7XHJcbiAgICAgICAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICAgICAgICAgICAgY29udGVudDogXCJcIjtcclxuICAgICAgICAgICAgdG9wOiAuNXJlbTtcclxuICAgICAgICAgICAgYm90dG9tOiAuNXJlbTtcclxuICAgICAgICAgICAgd2lkdGg6IDFweDtcclxuICAgICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogJGNvbG9yLWJsYWNrO1xyXG4gICAgICAgICAgfVxyXG4gICAgICAgIH1cclxuICAgICAgfVxyXG4gICAgfVxyXG5cclxuICAgICYuc2xpY2stc2xpZGVyIHtcclxuICAgICAgLnNsaWNrLWFycm93IHtcclxuICAgICAgICBwYWRkaW5nOiAwO1xyXG4gICAgICAgIHdpZHRoOiBhdXRvO1xyXG4gICAgICAgIGhlaWdodDogYXV0bztcclxuICAgICAgICBiYWNrZ3JvdW5kLWNvbG9yOiB0cmFuc3BhcmVudDtcclxuXHJcbiAgICAgICAgJjpob3ZlciB7XHJcbiAgICAgICAgICBjb2xvcjogJGNvbG9yLWhvdmVyO1xyXG4gICAgICAgIH1cclxuXHJcbiAgICAgICAgJi5zbGljay1wcmV2IHtcclxuICAgICAgICAgIGxlZnQ6IC0zLjVyZW07XHJcbiAgICAgICAgfVxyXG5cclxuICAgICAgICAmLnNsaWNrLW5leHQge1xyXG4gICAgICAgICAgcmlnaHQ6IC0zLjVyZW07XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgfVxyXG5cclxuICAuZm9ybS1zZWFyY2gtYm94IHtcclxuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcclxuICAgIGRpc3BsYXk6IGZsZXg7XHJcbiAgICBhbGlnbi1pdGVtczogY2VudGVyO1xyXG5cclxuICAgICY6YmVmb3JlIHtcclxuICAgICAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgICBjb250ZW50OiBcIlwiO1xyXG4gICAgICB0b3A6IC41cmVtO1xyXG4gICAgICBib3R0b206IC41cmVtO1xyXG4gICAgICB3aWR0aDogMXB4O1xyXG4gICAgICBsZWZ0OiAtMi41cmVtO1xyXG4gICAgICBiYWNrZ3JvdW5kLWNvbG9yOiAkY29sb3ItYmxhY2s7XHJcbiAgICB9XHJcblxyXG4gICAgLmdyb3VwLWNvbnRyb2wge1xyXG4gICAgICBwb3NpdGlvbjogcmVsYXRpdmU7XHJcbiAgICB9XHJcblxyXG4gICAgLnNlYXJjaC1maWVsZCB7XHJcbiAgICAgIHBhZGRpbmc6IDA7XHJcbiAgICAgIGJvcmRlcjogbm9uZTtcclxuICAgICAgZm9udC1zaXplOiAxLjhyZW07XHJcbiAgICAgIGJhY2tncm91bmQtY29sb3I6IHRyYW5zcGFyZW50O1xyXG4gICAgfVxyXG5cclxuICAgIC5zZWFyY2gtc3VibWl0IHtcclxuICAgICAgZGlzcGxheTogbm9uZTtcclxuICAgICAgcGFkZGluZzogMDtcclxuICAgICAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgICB0b3A6IDA7XHJcbiAgICAgIHJpZ2h0OiAwO1xyXG4gICAgICBib3R0b206IDA7XHJcbiAgICAgIHdpZHRoOiAzcmVtO1xyXG4gICAgICBib3JkZXI6IG5vbmU7XHJcbiAgICAgIGJhY2tncm91bmQtY29sb3I6IHRyYW5zcGFyZW50O1xyXG4gICAgfVxyXG4gIH1cclxufSIsIi8vIENvbG9yXHJcbiRjb2xvci1wcmltYXJ5OiAjMDAwMDAwO1xyXG4kY29sb3Itc2Vjb25kYXJ5OiAjRkFDQTI2O1xyXG4kY29sb3ItdGVydGlhcnk6ICM2MDYwNjA7XHJcbiRjb2xvci1ob3ZlcjogI0ZEQ0QyNjtcclxuJGNvbG9yLXdoaXRlOiAjZmZmZmZmO1xyXG4kY29sb3ItYmxhY2s6ICMwMDAwMDA7XHJcbiRjb2xvci1yZWQ6IHJnYigyNTUsMCwwKTtcclxuXHJcbi8vIEJhY2tncm91bmRcclxuJGJhY2tncm91bmQtYm9keTogI0Y3RjdGNztcclxuJGJhY2tncm91bmQtcHJpbWFyeTogIzIzMUYyMDtcclxuJGJhY2tncm91bmQtc2Vjb25kOiByZ2JhKDAsIDAsIDAsIDAuNik7XHJcbiRiYWNrZ3JvdW5kLXRlcnRpYXJ5OiAjRkU2MDMyO1xyXG4kYmFja2dyb3VuZC1idG46ICNGRENDMjY7XHJcbiRiYWNrZ3JvdW5kLWhvdmVyOiAjRkRDRTI0O1xyXG5cclxuLy8gQm9yZGVyIGNvbG9yXHJcbiRib3JkZXItY29sb3ItcHJpbWFyeTogIzAwMDAwMDsiLCJAaW1wb3J0IFwiLi4vLi4vdmFyaWFibGVzLXNpdGUvdmFyaWFibGVzXCI7XHJcblxyXG5AaW1wb3J0IFwiLi4vLi4vY29tcG9uZW50cy9hY3Rpb24tdGF4LXNlYXJjaFwiO1xyXG5cclxuLnNpdGUtZGlzY292ZXItY2F0IHtcclxuICAuaGVhZGluZyB7XHJcbiAgICBtYXJnaW4tYm90dG9tOiAzLjJyZW07XHJcbiAgICBmb250LXNpemU6IDIuNHJlbTtcclxuICAgIGZvbnQtd2VpZ2h0OiA2MDA7XHJcbiAgfVxyXG59XHJcblxyXG4uZ3JpZC1kaXNjb3ZlciB7XHJcbiAgbWFyZ2luOiAwIC02cHg7XHJcblxyXG4gICZfX2l0ZW0ge1xyXG4gICAgbWFyZ2luLWJvdHRvbTogMTJweDtcclxuICAgIHBhZGRpbmc6IDAgNnB4O1xyXG5cclxuICAgIEBtZWRpYSAobWluLXdpZHRoOiA5OTJweCkge1xyXG4gICAgICB3aWR0aDogMTYuNjY2NjY2NjclO1xyXG4gICAgfVxyXG5cclxuICAgIEBtZWRpYSAobWluLXdpZHRoOiA3NjhweCkgYW5kIChtYXgtd2lkdGg6IDk5MXB4KSB7XHJcbiAgICAgIHdpZHRoOiAyMCU7XHJcbiAgICB9XHJcblxyXG4gICAgQG1lZGlhIChtaW4td2lkdGg6IDU3NnB4KSBhbmQgKG1heC13aWR0aDogNzY3cHgpIHtcclxuICAgICAgd2lkdGg6IDI1JTtcclxuICAgIH1cclxuXHJcbiAgICBAbWVkaWEgKG1pbi13aWR0aDogNDgwcHgpIGFuZCAobWF4LXdpZHRoOiA1NzVweCkge1xyXG4gICAgICB3aWR0aDogMzMuMzMzMzMzMzMlO1xyXG4gICAgfVxyXG5cclxuICAgIEBtZWRpYSAobWF4LXdpZHRoOiA0NzlweCkge1xyXG4gICAgICB3aWR0aDogNTAlO1xyXG4gICAgfVxyXG5cclxuICAgIGltZyB7XHJcbiAgICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgfVxyXG4gIH1cclxuXHJcbiAgLnRodW1ibmFpbC1pbWFnZSB7XHJcbiAgICBtYXJnaW4tYm90dG9tOiAxMnB4O1xyXG4gICAgb3ZlcmZsb3c6IGhpZGRlbjtcclxuICAgIGJvcmRlci1yYWRpdXM6IDEycHg7XHJcbiAgfVxyXG5cclxuICAudGl0bGUge1xyXG4gICAgbWFyZ2luLWJvdHRvbTogMnB4O1xyXG4gICAgZm9udC1zaXplOiAxLjJyZW07XHJcbiAgfVxyXG5cclxuICAubWV0YSB7XHJcbiAgICBmb250LXNpemU6IDEuNHJlbTtcclxuICB9XHJcblxyXG4gIC52aWV3LWRldGFpbCB7XHJcbiAgICBtYXJnaW4tYm90dG9tOiAuNnJlbTtcclxuICAgIGN1cnNvcjogcG9pbnRlcjtcclxuICAgIGZvbnQtc2l6ZTogMS43cmVtO1xyXG4gIH1cclxufVxyXG5cclxuLnNpdGUtcmVzdWx0LWRpc2NvdmVyIHtcclxuICAuaGVhZGluZyB7XHJcbiAgICBtYXJnaW4tYm90dG9tOiAyLjRyZW07XHJcblxyXG4gICAgLnBhZ2UtdGl0bGUge1xyXG4gICAgICBmb250LXNpemU6IDIuNHJlbTtcclxuICAgIH1cclxuICB9XHJcblxyXG4gIC5mb3JtLXNlYXJjaC1kaXNjb3ZlciB7XHJcbiAgICBtYXJnaW4tYm90dG9tOiAzcmVtO1xyXG4gICAgZGlzcGxheTogZ3JpZDtcclxuICAgIGdyaWQtZ2FwOiAyLjRyZW07XHJcbiAgICBncmlkLXRlbXBsYXRlLWNvbHVtbnM6IHJlcGVhdCgyLCAxZnIpIDI1cmVtO1xyXG5cclxuICAgIC5ncm91cC1jb250cm9sIHtcclxuICAgICAgbWFyZ2luOiAwO1xyXG4gICAgfVxyXG5cclxuICAgIC5zZWFyY2gtc3VibWl0IHtcclxuICAgICAgbWFyZ2luOiAwO1xyXG4gICAgfVxyXG4gIH1cclxufSJdfQ== */
