.media-uploader-wrapper {
    position: relative;
    margin-bottom: 10px;
}

.media-uploader-wrapper .media-uploader-button {
    background-color: #f0f0f1;
    border: 1px dashed #c3c4c7;
    padding: 9px 0;
    width: 100%;
    color: #2c3338;
    line-height: 1.6;
}

.media-uploader-preview {
    display: block;
    max-width: 100%;
    margin-bottom: 10px;
}

.media-uploader-wrapper .media-uploader-remove {
    display: block;
    margin-top: 10px;
}