.site-footer {
  padding: 8rem 0 3rem;
  background-color: #171717;

  .widget {
    margin-bottom: 0;
    color: $color-white;

    a {
      color: $color-white;

      &:hover {
        color: $color-hover;
      }
    }

    .widget-title {
      margin-bottom: 1.2rem;
      color: $color-white;
      font-weight: 400;
    }

    &.widget_text {
      p {
        margin-bottom: 0.5rem;

        &:last-child {
          margin-bottom: 0;
        }
      }

      img {
        &.alignnone {
          margin: 0;
        }
      }
    }

    .social-network-item {
      width: auto;
      height: auto;
      line-height: 1;
      border-radius: unset;

      a {
        font-size: 2.5rem;
        color: $color-hover;

        &:hover {
          color: $color-white;
        }
      }
    }

    &.widget_info_company {
      .widget-title {
        @media (min-width: 768px) {
          margin-bottom: 3.9rem;
        }

        @media (max-width: 767px) {
          margin-bottom: 2rem;
        }
      }
    }

    &.widget_social_networks {
      .widget-title {
        @media (min-width: 768px) {
          margin-bottom: 3rem;
        }

        @media (max-width: 767px) {
          margin-bottom: 2rem;
        }
      }
    }
  }

  .warp {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin: 0 auto;
    max-width: 1440px;
  }

  &__copyright {
    .box {
      border-top: 1px solid #2C2C2C;
      padding-top: 2.8rem;
      color: rgba(255, 255, 255, 0.6);
      font-size: 1.6rem;
      color: #737373;
    }
  }
}