@font-face {
  font-family: 'SVN-Hemi Head';
  src: url('#{$path-font}/svn-hemi-head/SVN-HemiHead.woff2') format('woff2'),
  url('#{$path-font}/svn-hemi-head/SVN-HemiHead.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  outline: none !important;
}

html {
  min-height: 100%;
  font-size: 62.5% !important;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  word-break: break-word;
  @include flexbox();
  @include flex-direction(column);

  @media (max-width: 991px) {
    font-size: 1.5rem;
  }
}

.sticky-footer {
  flex: 1 0 auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  > div {
    flex: 1;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $color-primary;
}

a {
  color: $color-primary;
  text-decoration: none;
  @include transition();

  &:hover {
    color: $color-hover;
  }
}

p {
  margin: 0 0 1.2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

blockquote {
  border-left: 1px solid $color-hover;
  padding-left: 30px;
}

pre {
  white-space: pre-wrap;
  margin-bottom: 30px;
}

.nav {
  > li {
    > a {
      &:focus {
        background-color: transparent;
      }
    }
  }
}

.form-control {
  &:focus {
    border-color: $color-hover;
    @include box-shadow(none);
  }
}

.form-search-custom {
  select,
  .form-control {
    padding: 0 1.2rem;
    display: block;
    width: 100%;
    min-height: 5rem;
    border: 1px solid #cccccc;
    border-radius: 1rem;
  }

  .search-submit {
    margin-top: 2.4rem;
    padding: 0 1.2rem;
    display: block;
    width: 100%;
    min-height: 5rem;
    color: $color-white;
    font-size: inherit;
    border: 0;
    border-radius: 1rem;
    background-color: $color-black;
    @include transition();

    &:hover {
      background-color: $color-secondary;
    }
  }
}

#site-loadding {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 99999;
}

#back-top {
  background-color: $background-hover;
  opacity: 0;
  width: 40px;
  height: 40px;
  bottom: 0;
  cursor: pointer;
  position: fixed;
  right: 15px;
  z-index: 1000;
  @include transition();

  a {
    display: block;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    @include transition(all 0.25s ease-in-out);
  }

  &.active_top {
    opacity: 1;
    bottom: 15px;
  }

  &:hover {
    background-color: $background-primary;
  }
}

.element-spacer {
  padding-top: 6rem;
  padding-bottom: 5rem;

  &.element-section-products {
    padding-bottom: 3rem;
  }
}

.element-spacer-pb {
  padding-bottom: 6.8rem;
}

.spacer-pt-breadcrumbs {
  padding-top: 3.2rem;
}

.element-background-image {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.12;
    z-index: -1;
    background: url("assets/images/element-background.png") no-repeat center;
    background-size: cover;
  }
}

.background-color-white {
  background-color: #fff;
}

.background-color-yellow {
  background-color: $background-hover;
}

.element-section-project {
  padding-top: 42px;
  padding-bottom: 3.6rem;
}

.element-section-newsletter {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  background-color: $color-secondary;
}

/* Social network */
.social-network-item {
  display: inline-block;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }

  a {
    display: block;
  }
}

/* owl carousel navigation */
.owl-carousel {
  .owl-nav {
    text-align: center;
    margin-top: 15px;

    button {
      &.owl-prev,
      &.owl-next {
        margin: 0 6px;
        color: $color-primary;
        font-size: 2rem;
        line-height: normal;
        @include transition();

        &:hover {
          color: $color-hover;
        }
      }
    }
  }

  .owl-dots {
    margin-top: 30px;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);

    .owl-dot {
      display: inline-block;
      margin: 0 5px;

      span {
        display: block;
        width: 10px;
        height: 10px;
        background-color: #000000;
        @include border-radius(50%);
        @include transition(all 0.2s ease-in-out);
      }

      &.active,
      &:hover {
        span {
          background-color: $background-hover;
        }
      }
    }
  }
}

.custom-equal-height-owl {
  .owl-stage {
    @include flexbox();

    .owl-item {
      @include flexbox();
      @include flex(1 0 auto);
    }
  }
}

.slick-slider {
  .slick-slide {
    margin: 0 1.2rem;
  }

  .slick-list {
    margin: 0 -1.2rem;
  }

  .slick-track {
    margin-left: 0;
    margin-right: 0;
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    width: 42px;
    height: 42px;
    z-index: 1;
    line-height: 42px;
    color: $color-black;
    border: 0;
    background-color: $background-hover;
    @include transition();
    @include transform(translateY(-50%));

    &:hover {
      color: $color-white;
    }

    &.slick-prev {
      left: -6rem;
    }

    &.slick-next {
      right: -6rem;
    }
  }
}

/* Slick Slider */
.slick-dots {
  margin: 30px 0 0;
  padding: 0;
  list-style: none;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);

  li {
    margin: 0 5px;
    padding: 0;

    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 10px;
      height: 10px;
      padding: 0;
      cursor: pointer;
      color: transparent;
      border: 0;
      border-radius: 50%;
      outline: none;
      background: $background-primary;
      @include transition();
    }

    &:hover,
    &.slick-active {
      button {
        background-color: $background-hover;
      }
    }
  }
}

.heading-line {
  margin-bottom: 5rem;
  text-transform: uppercase;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  @media (max-width: 991px) {
    font-size: 2rem;
  }

  &__straight {
    height: 1px;
    background-color: $color-secondary;
  }
}

.link-all {
  text-align: center;

  a {
    display: inline-block;
    padding: 0.5rem 1.6rem;
    border: 1px solid $color-black;

    &:hover {
      color: $color-white;
      background-color: $color-black;
    }
  }
}

.heading-underline {
  position: relative;
  margin-bottom: 5rem;
  padding-bottom: .8rem;
  text-transform: uppercase;

  @media (max-width: 991px) {
    font-size: 2rem;
  }

  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    width: 18rem;
    height: .2rem;
    background-color: $color-secondary;
    transform: translateX(-50%);
  }
}

.txt-error {
  color: $background-tertiary;
}

.txt-success {
  color: $color-secondary;
}

form {
  .form-control {
    &.error {
      border-color: $color-red;

      &:focus {
        border-color: $color-red;
      }
    }
  }

  .error {
    margin-top: .6rem;
    color: $color-red;
    font-size: 1.6rem;
  }
}

.btn-user-save {
  background-color: transparent;
  font-size: 2.1rem;
  @include transition();

  &:hover {
    color: $color-secondary;
  }
}

#wpdcom {
  .ql-editor > * {
    font-family: $font-primary;
  }
}

.modal {
  &.mode-quick-view-product {
    .modal-dialog {
      @media (min-width: 992px) {
        max-width: 850px;
      }
    }
  }
}

.reset-list {
  @include reset-list();
}

.custom-owl-carousel {
  &.owl-carousel {
    .owl-nav {
      margin: 0;

      button {
        position: absolute;
        top: 50%;
        margin: 0;
        text-align: center;
        background-color: #D9D9D9;
        transform: translateY(-50%);

        @media (min-width: 992px) {
          @include square(5rem, 50%);
          font-size: 2.4rem;
          line-height: 5rem;
        }

        @media (max-width: 991px) {
          @include square(3.5rem, 50%);
          line-height: 3.5rem;
          font-size: 1.8rem;
        }

        &.owl-prev {
          @media (min-width: 1400px) {
            left: -2.5rem;
          }

          @media (max-width: 1399px) {
            left: 1rem;
          }
        }

        &.owl-next {
          @media (min-width: 1400px) {
            right: -2.5rem;
          }

          @media (max-width: 1399px) {
            right: 1rem;
          }
        }

        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}

.btn-global {
  display: inline-block;
  padding: .3rem 1rem;
  border: .1rem solid #FDCD27;
  font-size: 1.4rem;
  font-weight: 700;
  @include transition();

  &:hover {
    color: #ffffff;
    background-color: #FDCD27;
  }
}

.font-f-seconder {
  font-family: $font-f-second;
}