@import "../../variables-site/variables";

@import "../../components/form-search-project";
@import "../../components/action-tax-search";
@import "../../components/project-related";
@import "../../components/newsletter";

.project-grid {
  display: grid;
  grid-gap: 2.4rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 576px) {
    grid-gap: 2.4rem;
  }

  @media (max-width: 575px) {
    grid-gap: 1.2rem;
  }

  @media screen and (min-width: 420px) and (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.site-project-cat {
  .heading {
    margin-bottom: 3.2rem;
    font-size: 2.4rem;
    font-weight: 600;
  }

  .element-section-newsletter {
    margin-top: 5rem;
  }
}

.site-result-project {
  .heading {
    margin-bottom: 2.4rem;

    .page-title {
      font-size: 2.4rem;
    }
  }
}