@import "../../variables-site/variables";

@import "../../components/form-search-project";
@import "../../components/newsletter";
@import "../../components/project-related";

.site-single-project {
  padding-top: .8rem;

  .banner {
    margin-bottom: 6rem;
    position: relative;
    height: 40rem;
    overflow: hidden;
    background-color: #aaa;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .info {
      position: absolute;
      top: 0;
      right: 2.4rem;
      bottom: 0;
      left: 2.4rem;

      .sub-text {
        margin-bottom: 1.2rem;
        color: $color-secondary;
        font-weight: 700;
      }

      .title {
        margin-bottom: 8rem;
        color: $color-white;
        text-transform: uppercase;

        @media (min-width: 992px) {
          font-size: 3rem;
        }

        @media (max-width: 991px) {
          font-size: 2rem;
        }
      }

      .tax {
        a {
          display: inline-block;
          color: $color-white;
          font-size: 2rem;

          &:hover {
            color: $color-secondary
          }
        }
      }
    }
  }

  .entry-content {
    display: flex;
    flex-wrap: wrap;

    > div {
      @media (min-width: 768px) {
        width: 50%;
      }

      @media (max-width: 767px) {
        width: 100%;
      }
    }

    .post-image {
      &__feature {
        margin-bottom: 3rem;

        &.slick-slider {
          .slick-list {
            height: 42.1rem !important;
          }
        }

        .item {
          height: 42.1rem;
          overflow: hidden;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__gallery {
        &.slick-slider {
          .slick-list {
            height: 10.1rem !important;
          }
        }

        .item {
          height: 10.1rem;
          overflow: hidden;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .post-content {
      @media (min-width: 768px) {
        padding-left: 2.8rem;
      }

      &__warp {
        padding: 2.2rem 6rem 2.2rem 2.6rem;
        position: relative;
        max-height: 55rem;
        height: 100%;
        overflow: hidden;
        color: $color-black;
        background-color: #F1F1F1;

        &.simplebar-active {
          overflow: auto;
        }

        .heading-box {
          margin-bottom: 1.2rem;
          display: grid;
          grid-gap: 1.2rem;
          grid-template-columns: 1fr auto;

          .post-content__heading {
            margin-bottom: 0;
          }
        }

        .simplebar-track {
          &.simplebar-vertical {
            top: 1.8rem;
            right: 1.4rem;
            bottom: 2.7rem;
            width: 1.8rem;
            border-radius: 2rem;
            background: rgba(217, 217, 217, 0.6);

          }
        }

        .simplebar-scrollbar {
          &:before{
            border-radius: 2rem;
            background: rgba(211, 210, 210, 1);
          }
        }
      }

      &__desc {
        margin-bottom: 3rem;
      }

      &__info {
        li {
          ~ li {
            margin-top: .2rem;
          }

          &.model {
            .txt-value {
              color: $color-secondary;

              ~ .txt-value {
                &:before {
                  content: ', ';
                  color: $color-secondary;
                }
              }

              &:hover {
                color: #000000;
              }
            }
          }
        }
      }
    }
  }

  .element-section-newsletter {
    margin-top: 6rem;
  }
}

.site-single-project-related {
  margin-top: 8rem;

  .title {
    margin-bottom: 3rem;
  }

  .action-box {
    margin-top: 4.2rem;
    text-align: center;

    .btn {
      padding: .3rem 1rem;
      font-weight: 700;
      border: .1rem solid #FDCD27;
      border-radius: 0;
      @include transition();

      &:hover {
        background-color: #FDCD27;
      }
    }
  }
}