// Page Default
.site-container {
  padding: 5rem 0;

  &.site-container-elementor {
    padding: 0;
  }
}

.site-page-content {
  p {
    &:after {
      display: table;
      clear: both;
      content: '';
    }
  }
}

// Page Product
.product-grid-cat {
  &.element-products {
    display: grid;
    grid-gap: 2.4rem;
    grid-template-columns: repeat(4, 1fr);

    .item {
      position: relative;
      margin: 0;

      .thumbnail {
        margin: 0;
      }

      .title {
        padding: 1.2rem 1.6rem;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.69), rgba(255, 255, 255, 0.15));
        @include transition();
      }

      .box-group {
        padding: 1.2rem 1.6rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-image: linear-gradient(90deg, rgba(43, 40, 40, 0.56), rgba(77, 77, 77, 0.5));
        @include transition();

        a {
          color: $color-secondary;

          &:hover {
            color: $color-white;
          }
        }

        &__title {
          font-size: 1.8rem;
        }

        &__link {
          padding: .2rem .8rem;
          display: inline-block;
          border: 1px solid $color-white;
        }
      }

      &:hover {
        .title {
          opacity: 0;
          visibility: hidden;
        }

        .box-group {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.related-product {
  margin-top: 5rem;

  &__title {
    margin-bottom: 2rem;
    font-size: 2.4rem;
  }
}

// Page Project
.project-grid {
  display: grid;
  grid-gap: 2.4rem;

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 576px) and (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  .item {
    position: relative;

    .thumbnail {
      @include transition();

      img {
        width: 100%;
      }

      &:hover {
        @include box-shadow(0px 20px 30px rgb(0, 0, 0, 0.5));
      }

      .link-image {
        display: block;
      }
    }

    .content-box {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      @include transition();

      &__top {
        position: relative;
        padding: 2.4rem 3rem;
        background-color: rgba(0,0,0,0.6);
        @include transition();

        &:before {
          position: absolute;
          content: "";
          top: 1.2rem;
          left: 1.6rem;
          right: 1.6rem;
          bottom: 1.2rem;
          border: 1px solid $color-white;
        }
      }

      .title {
        position: relative;
        margin: 0;
        font-size: 1.8rem;
        font-weight: 400;

        a {
          display: inline-block;
          color: $color-secondary;
        }
      }

      .line {
        position: relative;
        width: 0;
        height: 0;
        background-color: $color-secondary;
        @include transition();
      }

      .tax {
        position: relative;
        text-align: center;
        opacity: 0;
        height: 0;
        visibility: hidden;
        @include transition();

        a {
          position: relative;
          color: $color-white;
          font-size: 0;

          &:hover {
            color: $color-secondary;
          }

          ~ a {
            &:before {
              content: ",";
            }
          }
        }
      }

      .link-detail {
        display: inline-block;
        color: $color-black;
        font-size: 0;
        opacity: 0;
        visibility: hidden;
        background-color: $color-secondary;
        @include transition()
      }
    }

    &:hover {
      .content-box {
        padding-bottom: 1.6rem;
        background-color: rgba(0,0,0,0.6);

        &__top {
          background-color: transparent;
          transform: translateY(-50%);

          &:before {
            border-color: $color-secondary;
          }
        }

        .title {
          a {
            color: $color-white;
          }
        }

        .line {
          margin: .5rem 0;
          width: 100%;
          height: 1px;
          opacity: 1;
          visibility: visible;
        }

        .tax {
          opacity: 1;
          visibility: visible;
          font-size: inherit;
          height: auto;

          a {
            font-size: inherit;
          }
        }

        .link-detail {
          padding: .6rem 1.2rem;
          opacity: 1;
          visibility: visible;
          font-size: inherit;
        }
      }
    }
  }
}

.site-project-cat {
  .heading {
    margin-bottom: 3.2rem;
    font-size: 2.4rem;
    font-weight: 600;
  }

  .top-action {
    margin: 0 0 3.6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .form-search-project {
    position: relative;
    margin-left: 3.8rem;

    &:before {
      position: absolute;
      content: "";
      top: .5rem;
      bottom: .5rem;
      width: 1px;
      left: -1.9rem;
      background-color: $color-black;
    }

    .group-control {
      position: relative;
    }

    .search-field {
      padding: 0;
      border: none;
      font-size: 2rem;
      background-color: transparent;
    }

    .search-submit {
      display: none;
      padding: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 3rem;
      border: none;
      background-color: transparent;
    }
  }

  .list-cat {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
      position: relative;
      font-size: 2rem;

      ~ .list-cat__item {
        margin-left: 3.8rem;

        &:before {
          position: absolute;
          content: "";
          top: .5rem;
          bottom: .5rem;
          width: 1px;
          left: -1.9rem;
          background-color: $color-black;
        }
      }

      &.active,
      &:hover {
        a {
          color: $color-secondary;
        }
      }
    }
  }

  .element-section-newsletter {
    margin-top: 5rem;
  }
}

.site-result-project {
  .heading {
    margin-bottom: 2.4rem;

    .page-title {
      font-size: 2.4rem;
    }
  }

  .form-search-project {
    margin-bottom: 3rem;

    .group-control {
      max-width: 35rem;
      display: grid;
      grid-gap: 2.4rem;
      grid-template-columns: 1fr 3.8rem;

      .search-field {
        padding: 0.6rem 1rem;
        border: 1px solid $color-primary;
      }

      .search-submit {
        padding: 0;
        text-align: center;
        border: 1px solid $color-primary;
      }
    }
  }
}

// Page Contact
.site-contact-warp {
  .top {
    &__title {
      margin-bottom: 1.6rem;
      padding-bottom: .6rem;
      position: relative;

      &:after {
        position: absolute;
        content: "";
        left: 50%;
        width: 15rem;
        height: 1px;
        bottom: 0;
        background-color: $color-secondary;
        transform: translateX(-50%);
      }
    }
  }

  .wpcf7-form {
    br {
      display: none;
    }
  }

  .wpcf7-form-control {
    &.wpcf7-checkbox {
      margin: 0;
      display: grid;
      grid-gap: 1.2rem;
      grid-template-columns: repeat(2, 1fr);

      .wpcf7-list-item {
        margin: 0;

        label {
          margin: 0;
          display: grid;
          grid-gap: 1.2rem;
          grid-template-columns: auto 1fr;

          input {
          }

          .wpcf7-list-item-label {

          }
        }
      }
    }
  }
}