// Page Default
.site-container {
  padding: 5rem 0;

  &.site-container-elementor {
    padding: 0;
  }
}

.site-page-content {
  p {
    &:after {
      display: table;
      clear: both;
      content: '';
    }
  }
}

// Page Project
.site-project-cat {
  .heading {
    margin-bottom: 3.2rem;
    font-size: 2.4rem;
    font-weight: 600;
  }
}

.project-grid {
  .item {
    margin-bottom: 46px;
  }

  .thumbnail {
    position: relative;
    @include transition();

    img {
      width: 100%;
    }

    &:hover {
      @include box-shadow(0px 20px 30px rgb(0, 0, 0, 0.5));
    }

    .link-image {
      display: block;
    }

    .title {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      padding: 12px 21px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 51.19%);

      a {
        display: inline-block;
        line-height: 1.4;
        color: #ffffff;
      }
    }
  }
}