/**
* Table of Contents:
*
# General
# WordPress Core
# Header
# Page
# Sidebar
# Contact Form 7
# Pagination
# Footer
# Responsive
* -----------------------------------------------------------------------------
*/

@import "variables-site/variables";

/**
# General
-----------------------------------------------------------------------------*/
@import "base/general";

/* WordPress Core
-------------------------------------------------------------- */
@import "base/wp-core";

/**
# Header
-----------------------------------------------------------------------------*/
@import "header/header";

/**
# Page
-----------------------------------------------------------------------------*/
@import "base/page";

/**
# Sidebar
-----------------------------------------------------------------------------*/
@import "base/sidebar";

/**
# Contact Form 7
-----------------------------------------------------------------------------*/
@import "base/cf7";

/**
# Pagination
-----------------------------------------------------------------------------*/
@import "base/pagination";

/**
# Footer
-----------------------------------------------------------------------------*/
@import "base/footer";

/**
# Responsive
-----------------------------------------------------------------------------*/
@import "responsive";