.element-count-up {
  .item {
    display: grid;
    grid-gap: 2.6rem;
    grid-template-columns: minmax(auto, 50px) 1fr;
    @include align-items(center);

    .count-box {
      font-size: 2.4rem;
      font-weight: 700;
      color: $color-black;

      span {
        display: inline-block;
      }
    }

    .text {
      color: $color-black;
    }
  }
}