.element-count-up {
  .heading {
    margin-bottom: 20px;
    font-weight: 900;
  }

  .describe {
    margin-bottom: 50px;
    color: $color-tertiary;
  }

  .item {
    display: grid;
    grid-gap: 26px;
    grid-template-columns: minmax(auto, 70px) 1fr;
    @include align-items(center);

    .count-box {
      font-size: 4rem;
      font-weight: 900;

      span {
        display: inline-block;
      }

      .symbol {
        color: $color-hover;
      }
    }

    .text {
      font-size: 2.4rem;
      color: $color-tertiary;
    }
  }
}