.element-post-slider {
  .heading {
    margin-bottom: 36px;
  }

  .post {
    &__thumbnail {
      @include transition();
    }

    &__title {
      margin-bottom: 0;
      font-size: 1.6rem;
    }

    &__desc {
      margin-bottom: 0;
      font-size: 1.4rem;
    }

    .read-more {
      display: inline-block;
      font-size: 1.5rem;
    }

    &:hover {
      .post__thumbnail {
        opacity: 0.5;
      }
    }
  }

  .slick-list {
    margin: 0 -12px;
  }

  .slick-slide {
    margin: 0 12px;
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    height: inherit;
    display: grid;
    grid-row-gap: 10px;
    grid-template-rows: auto 1fr 1fr;
  }
}