.element-testimonial-slider {
  .item {
    margin: 0 .2rem 1rem;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    border: .1rem solid var(--clinic-theme-secondary-color);
    box-shadow: 0 .4rem .4rem rgba(0,0,0,0.24);
    background-color: var(--color-white);
    @include transition();

    .top-box {
      position: relative;
      margin-bottom: 3rem;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 8rem 1fr;
      align-items: center;

      &:after {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        width: calc(100% - 10rem);
        height: .1rem;
        background-color: var(--clinic-theme-primary-color);
      }
    }

    .thumbnail {
      @include square(8rem, 50%);
      border: .1rem solid var(--clinic-theme-primary-color);
      background-color: var(--color-white);
      @include flex-center();

      img {
        @include square(6.8rem, 50%);
        object-fit: cover;
      }
    }

    .name {
      margin-bottom: .4rem;
      font-weight: 700;
      font-size: 1.6rem;
      color: #000000;
      @include transition();
    }

    .info {
      font-weight: 700;
      font-family: var(--heading-font-family);
      color: var(--color-salem);
      @include transition();
    }
  }
}