.element-post-grid {
  &__warp {
    display: grid;
    grid-gap: 2.7rem 3rem;

    @media (min-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      display: grid;
      grid-gap: 2rem;

      @media (min-width: 576px) {
        grid-template-columns: 27.5rem 1fr;
      }

      &__box {
        .title {
          margin-bottom: .9rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 2.2rem;
          text-transform: uppercase;
        }

        .content {
          color: #5D5D5D;
          font-size: 1.6rem;
          line-height: 2.2rem;
          text-align: justify;
        }
      }
    }
  }
}