.element-step-list {
  display: grid;
  grid-gap: 3rem 11rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  .group-box {
    .item {
      ~ .item {
        margin-top: 3rem;
      }

      &__box {
        position: relative;
        padding-top: 2.4rem;
        padding-bottom: 2rem;
        min-height: 15.7rem;
      }

      .title {
        @media (min-width: 992px) {
          font-size: 2.3rem;
        }

        @media (max-width: 991px) {
          font-size: 2rem;
        }
      }

      .number {
        position: absolute;
        top: 50%;
        font-size: 4rem;
        font-weight: 500;
        border: .7rem solid var(--color-white);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-50%);

        @media (min-width: 992px) {
          @include square(12.8rem, 50%);
        }

        @media (max-width: 991px) {
          @include square(10rem, 50%);
        }
      }
    }

    &.odd {
      @media (max-width: 767px) {
        padding-right: 4.1rem;
      }

      .item {
        color: var(--color-white);
        border-top-right-radius: 10rem;
        border-bottom-right-radius: 10rem;
        background-color: var(--clinic-theme-secondary-color);

        &__box {
          @media (min-width: 992px) {
            padding-left: 4rem;
            padding-right: 11rem;
          }

          @media (max-width: 991px) {
            padding-left: 2rem;
            padding-right: 8rem;
          }
        }

        .title {
          color: var(--color-white);
        }

        .number {
          right: -4rem;
          background-color: var(--clinic-theme-secondary-color);
        }
      }
    }

    &.even {
      @media (min-width: 992px) {
        padding-top: 7rem;
      }

      @media (max-width: 767px) {
        padding-left: 4.2rem;
      }

      .item {
        color: #000000;
        border-top-left-radius: 10rem;
        border-bottom-left-radius: 10rem;
        background-color: #FF9EC1;

        &__box {
          @media (min-width: 992px) {
            padding-right: 4rem;
            padding-left: 11rem;
          }

          @media (max-width: 991px) {
            padding-right: 2rem;
            padding-left: 8rem;
          }
        }

        .title {
          color: #000000;
        }

        .number {
          left: -4rem;
          color: var(--clinic-theme-secondary-color);
          background-color:  #FF9EC1;
        }
      }
    }
  }
}