.element-image-grid-overlay {
  display: grid;
  grid-auto-rows: min-content;

  .item {
    position: relative;

    &__link {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
    }

    &__image {
      position: relative;
      overflow: hidden;

      &:before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        @include transition();
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__body {
      padding: 0 1rem;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      text-align: center;
      transform: translateY(-50%);

      .title {
        margin: 0;
        font-size: 2.4rem;
        color: #ffffff;
        @include transition();
      }
    }

    &:hover {
      .item__image {
        &:before {
          background-color: transparent;
        }
      }

      .item__body {
        .title {
          color: rgba(255,255,255,0);
        }
      }
    }
  }
}