.element-tool-carousel {
  &__warp {
    .item {
      @include transition();

      &__thumbnail {
        background-color: #D9D9D9;
        @include flex-center();

        a {
          position: relative;

          &:before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            opacity: 0;
            box-shadow: inset 0 20px 20px -10px rgba(0,0,0,.5);
            @include transition();
          }
        }
      }

      .title {
        margin: 0;
        padding: 1.8rem 1.2rem;
        font-size: 1.4rem;
        text-align: center;
        background-color: #424242;

        a {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          display: block;
          color: #ffffff;
        }
      }

      &:hover {
        box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);

        .item__thumbnail {
          a {
            &:before {
              opacity: 1;
            }
          }
        }
      }
    }

    .owl-stage-outer {
      padding: 0 0 1rem;
    }
  }
}