.element-procedure-carousel {
  display: grid;
  gap: 3rem;
  grid-template-columns: 60% 40%;

  .procedure-slider-main {
    .item {
      display: grid;
      grid-gap: 5rem;
      grid-template-columns: 27.2rem 1fr;
    }
  }
}