.element-procedure-carousel {
  display: grid;
  grid-gap: 2.4rem;
  grid-template-columns: 60% 1fr;

  .procedure-slider-main {
    .item {
      display: grid;
      grid-gap: 3rem;
      grid-template-columns: 27.2rem 1fr;
    }
  }
}