.element-doctor-slider {
  &__warp {
    .item {
      padding: 1rem 1.7rem 2rem;
      border-radius: 1rem;
      box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.25);
      background-color: var(--color-white);
      display: flex;
      flex-direction: column;

      img {
        width: auto;
      }

      &__thumbnail {
        background-image: url("../images/bk-avatar-doi-ngu-bac-si.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: .5rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        img {
          display: inline-block;
        }
      }

      &__body {
        padding-top: 2.5rem;
        display: flex;
        flex-direction: column;
        flex: 1;

        .title {
          margin-bottom: 0;
          font-size: 1.8rem;
          font-family: var(--body-font-family);
          color: var(--clinic-theme-tertiary-color);
        }

        .meta {
          margin-bottom: 1.6rem;
          line-height: 1.4;
          font-family: var(--heading-font-family);
        }

        .content {
          margin-bottom: 1.4rem;
          text-align: justify;
          flex: 1;
        }

        .action-box {
          text-align: center;

          a {
            padding: 1rem;
            border-radius: 5rem;
            font-size: 1.4rem;
            font-weight: 500;
            text-align: center;
            color: var(--color-white);
            min-width: 19.5rem;
            min-height: 3.9rem;
          }

          &__booking {
            background: linear-gradient(180deg, #D14040 0%, #951D21 100%);

            &:hover {
              background: linear-gradient(180deg, var(--clinic-theme-primary-color) 0%, var(--clinic-theme-secondary-color) 100%)
            }
          }
        }
      }
    }

    &.owl-carousel {
      .owl-stage-outer {
        padding: 1rem 0;
      }

      .owl-nav {
        margin: 0;

        button {
          position: absolute;
          margin: 0;
          top: 50%;
          font-size: 2rem;
          transform: translateY(-50%);

          &.owl-prev {
            left: 0;
          }

          &.owl-next {
            right: 0;
          }
        }
      }
    }
  }
}