.element-contact-us {
  &__list {
    display: grid;

    @media (min-width: 992px) {
      grid-gap: 4rem;
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 991px) {
      grid-gap: 2.4rem;
    }

    @media (min-width: 576px) and (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      padding: 2.4rem;
      position: relative;
      min-height: 18.5rem;
      text-align: center;
      overflow: hidden;
      border: .2rem solid var(--clinic-theme-primary-color);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &__image {
        position: absolute;
        top: -6rem;
        left: -2.9rem;
        width: 10rem;
        height: 16rem;
        background-color: var(--clinic-theme-primary-color);
        transform: rotate(45deg);

        img {
          transform: rotate(-45deg) translateX(-3.2rem) translateY(5rem);
        }
      }

      &__body {
        position: relative;

        .title {
          font-size: 2rem;
          font-weight: 900;
          color: #0F0F0F;
          line-height: 1.1;

          @media (min-width: 992px) {
            margin-bottom: 1.6rem;
          }

          @media (max-width: 991px) {
            margin-bottom: .6rem;
          }
        }

        .desc {
          font-weight: 700;
          line-height: 1.2;
          color: #FF0000;

          a {
            color: inherit;
          }

          @media (min-width: 992px) {
            font-size: 2.4rem;
          }

          @media (max-width: 991px) {
            font-size: 2rem;
          }
        }
      }
    }
  }
}