.element-list-content-number {
  &__warp {
    .item {
      ~ .item {
        margin-top: 2rem;
      }

      &__top {
        margin-bottom: 1.6rem;
        min-height: 4.6rem;
        display: grid;
        grid-template-columns: max-content 1fr;
        line-height: 1.2;

        .number {
          padding: 0 1.8rem;
          font-size: 4.5rem;
          font-weight: 700;
          color: #9B254C;
          border-width: .2rem 0 .2rem .2rem;
          border-style: solid;
          border-color: #9E274E;
          border-top-left-radius: .5rem;
          border-bottom-left-radius: .5rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .title {
          margin: 0;
          min-height: 100%;
          font-size: 1.7rem;
          font-weight: 500;
          color: var(--color-white);
          display: flex;

          span {
            padding: 1.2rem 1.8rem;
            min-height: 100%;
            border-top-right-radius: .5rem;
            border-bottom-right-radius: .5rem;
            background: linear-gradient(90deg, #97234A 0%, #D54472 100%);
            display: inline-flex;
            align-items: center;

            @media (min-width: 576px) {
              min-width: 25.7rem;
            }

            @media (max-width: 575px) {
              flex: 1;
            }
          }
        }
      }
    }
  }
}