.element-circular-progress {
  display: grid;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__circle {
      position: relative;
      margin-bottom: 1.6rem;
      font-size: 5rem;
      font-weight: 500;
      color: #F30000;
      border-radius: 50%;
      background-color: var(--clinic-theme-primary-color);

      &:before {
        position: absolute;
        content: "";
        top: .5rem;
        right: .5rem;
        bottom: .5rem;
        left: .5rem;
        border: .3rem dotted var(--color-white);
        border-radius: 50%;
      }
    }
  }
}