.element-count-up {
  text-align: center;

  .heading {
    position: relative;
    margin-bottom: 3rem;
    padding-bottom: 1rem;

    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      width: 9rem;
      height: .1rem;
      background-color: currentColor;
      transform: translateX(-50%);
    }
  }
}