.element-safety-principles {
  &__warp {
    display: grid;

    @media (min-width: 1200px) {
      grid-gap: 2.4rem 4.4rem;
      grid-template-columns: 1fr 44.3rem 1fr;
    }

    @media (max-width: 1199px) {
      grid-gap: 3rem;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      grid-template-columns: 1fr 30rem 1fr;
    }

    @media (min-width: 480px) and (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .item-thumbnail {
      @media (min-width: 1200px) {
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }

      @media (max-width: 991px) {
        display: none;
      }
    }

    .item-group {
      @media (min-width: 992px) {
        padding-bottom: 6rem;
      }

      .repeater-item {
        ~ .repeater-item {
          @media (min-width: 992px) {
            margin-top: 3.2rem;
          }

          @media (min-width: 376px) and (max-width: 992px) {
            margin-top: 1rem;
          }

          @media (max-width: 375px) {
            margin-top: 3rem;
          }
        }
      }

      .top-box {
        margin-bottom: .8rem;
        display: flex;
        gap: 1.2rem;
        line-height: 1.1;

        @media (min-width: 768px) {
          justify-content: space-between;
        }

        @media (max-width: 767px) {
          align-items: center;
        }

        @media (max-width: 375px) {
          gap: 1.2rem;
        }
      }

      .title {
        margin: 0;
        color: #000;

        @media (min-width: 992px) {
          font-size: 2.3rem;
        }

        @media (max-width: 991px) {
          font-size: 1.8rem;
        }

        @media (max-width: 767px) {
          order: 1;
        }
      }

      .number {
        font-size: 4rem;
        flex: 0 0 auto;

        @media (max-width: 767px) {
          font-size: 2rem;
        }
      }
    }
  }
}