@import "../variables-site/variables";

@import "element-slider";
@import "element-image-grid-box";
@import "element-gallery-grid-box";
@import "element-album-gallery";
@import "element-cf7";
@import "element-heading-between-line";
@import "element-about-slider";
@import "element-image-grid-overlay";
@import "element-count-up";
@import "element-content-box-grid";
@import "element-tool-carousel";
@import "element-commit-box-grid";
@import "element-project-carousel";
@import "element-procedure-carousel";

//@import "element-post-grid";
//@import "element-about-us";
//@import "element-category-list";

//@import "element-circular-progress";

//@import "element-safety-principles";
//@import "element-doctor-slider";
//@import "element-step-list";
//@import "element-testimonial-slider";

//@import "element-list-image-content";
//@import "element-list-content-number";
//@import "element-contact-us";
