.site-discover-warp {
  padding-top: 5rem;

  .search-form {
    .group-check {
      &__item {
        .btn {
          padding: 0;
          color: #231F20;
          font-size: 1.8rem;
          border: none;
          background-color: transparent;
          @include transition();

          &:hover {
            color: $color-secondary;
          }
        }

        .btn-check:checked + .btn {
          color: $color-secondary;
        }

        &:first-child {
          .btn {
            text-transform: uppercase;
          }
        }
      }
    }

    @media screen and (min-width: 992px) {
      .search-field {
        font-size: 1.8rem;
        border: none;
        border-radius: 0;
        padding: 1rem 0 1rem 3rem;
        background-color: transparent;
      }

      .search-submit {
        width: auto;
      }
    }
  }
}

.search-form-discover {
  margin-bottom: 2.8rem;
  display: grid;
  grid-gap: 2.5rem 5rem;

  @media screen and (min-width: 992px) {
    grid-template-columns: 1fr 20rem;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s;
  }

  .group-check {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media screen and (min-width: 992px) {
      grid-gap: 1.2rem 5rem;
    }

    @media screen and (max-width: 991px) {
      grid-gap: 1.2rem 2rem;
    }

    &__item {
      position: relative;

      @media screen and (min-width: 992px) {
        flex: 1;
      }

      @media screen and (max-width: 991px) {
        flex: 0 0 auto;
      }

      &:after {
        position: absolute;
        content: "";
        width: 1px;
        top: 0;
        bottom: 0;
        background-color: #9B9797;

        @media screen and (min-width: 992px) {
          right: -2.5rem;
        }

        @media screen and (max-width: 991px) {
          right: -1rem;
        }
      }

      &:last-child {
        &:after {
          @media screen and (max-width: 991px) {
            display: none;
          }
        }
      }

      .btn {
        display: block;

        @media screen and (max-width: 991px) {
          text-align: left;
        }
      }
    }
  }
}

.site-discover-cat {
  .title {
    margin-bottom: 2.8rem;
    text-align: center;
    text-transform: uppercase;
  }
}

.grid-discover {
  margin: 0 -6px;

  &__item {
    margin-bottom: 12px;
    padding: 0 6px;
    width: 16.66666667%;

    img {
      width: 100%;
    }
  }

  .thumbnail-image {
    margin-bottom: 12px;
    overflow: hidden;
    border-radius: 12px;
  }

  .title {
    margin-bottom: 2px;
    font-size: 1.2rem;
  }

  .meta {
    font-size: 1.9rem;
  }

  .view-detail {
    margin-bottom: 0;
    cursor: pointer;
    font-size: 2rem;
  }
}

.site-single-discover {
  .container {
    > div {
      ~ div {
        margin-top: 5rem;
      }
    }
  }

  .grid-layout {
    display: grid;
    grid-gap: 2.4rem;
    grid-template-columns: 20rem 1fr;

    .group-check {
      &__item {
        &:not(:last-child) {
          margin-bottom: 1.2rem;
        }
      }
    }
  }

  .entry-content {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .thumbnail-image {
      img {
        width: 100%;
      }
    }

    .post-info {
      padding: 30px 30px 22px;
      display: grid;
      grid-row-gap: 12px;
      grid-template-rows: 1fr auto;

      &__left {
        > div {
          &:not(:last-child) {
            margin-bottom: 2rem;
          }
        }
      }

      .title {
        margin-bottom: 12px;
        font-size: 2rem;
      }

      .desc {
        color: #5C5C5C;
      }

      .meta-filed {
        &__item {
          display: grid;
          grid-gap: 1.2rem;
          grid-template-columns: auto 1fr;
          align-items: center;

          &:not(:last-child) {
            margin-bottom: 1.2rem;
          }

          .meta-filed-color {
            a {
              display: inline-block;
              color: $color-secondary;
            }
          }

          .meta-filed-construction-tools {
            img {
              width: 2rem;

              ~ img {
                margin-left: 0.8rem;
              }
            }
          }

          .meta-filed-video {
            a {
              display: inline-block;
              color: #FF0000;
            }
          }
        }
      }

      &__right {
        > div {
          display: inline-block;
          margin-bottom: 8px;
        }
      }
    }
  }

  .link-contact {
    text-align: center;

    a {
      padding: 1rem 1.5rem .8rem;
      display: inline-block;
      font-weight: 700;
      text-transform: uppercase;
      background-color: $color-secondary;

      &:hover {
        color: #ffffff;
      }
    }
  }
}

.site-result-discover {
  padding-top: 5.5rem;

  .heading {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .page-title {
    margin-bottom: 0;
    font-size: 1.8rem;
  }
}

.site-discover-related {
  .slick-slider {
    margin: 0 -0.8rem;
  }

  .slick-slide {
    padding: 0 .8rem;
  }

  .item-post {
    .thumbnail-image {
      margin-bottom: 1rem;

      a {
        display: block;
        overflow: hidden;
        border-radius: 1rem;
      }
    }

    .title-item {
      margin-bottom: 0;
      font-size: 1.6rem;
    }
  }
}