.site-single-project {
  .title {
    margin-bottom: 3rem;
  }

  .entry-content {
    display: grid;
    grid-gap: 24px 32px;
    grid-template-columns: 50% 1fr;

    .post-image {
      &__feature {
        margin-bottom: 20px;

        img {
          width: 100%;
        }
      }

      &__gallery {
        .slick-list {
          margin: 0 -8px;
        }

        .slick-slide {
          margin: 0 8px;
        }
      }
    }

    .post-content {
      padding: 25px 30px;
      color: #5C5C5C;
      border: 1px solid #A0A0A0;
      border-radius: 10px;
    }
  }
}

.site-single-project-related {
  margin-top: 50px;

  .title {
    margin-bottom: 50px;
  }
}