@import "../variables-site/variables";

// Tool cat
.site-tool-warp {
  .grid-warp {
    &.active-sidebar {
      display: grid;
      grid-gap: 2rem 5rem;

      @media (min-width: 992px) {
        grid-template-columns: 1fr 75%;
      }
    }

    .sidebar {
      .widget {
        .widget-title {
          margin-bottom: 1.8rem;
          padding-bottom: 1.8rem;
          font-size: 2rem;
          border-bottom: 1px solid $color-secondary;
        }

        ul {
          li {
            &:not(:last-child) {
              margin-bottom: 1.2rem;
              padding-bottom: 1.2rem;
              border-bottom: .2rem solid $color-secondary;
            }

            a {
              color: $color-black;

              &:hover {
                color: $color-hover;
              }
            }

            &.cat-tool-item {
              display: grid;
              grid-gap: 12px;
              grid-template-columns: 1fr auto;

              &.active {
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }

  .tools-warp {
    .heading {
      margin-bottom: 2.5rem;
      text-transform: uppercase;
      font-size: 2rem;
    }

    .tool-grid-tax {
      display: grid;

      @media (min-width: 992px) {
        grid-gap: 3.6rem 2.4rem;
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 991px) {
        grid-gap: 1.6rem;
      }

      @media (min-width: 768px) and (max-width: 991px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (min-width: 480px) and (max-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

.tool-list-grid {
  .item {
    background-color: #E5E5E5;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    @include transition();

    &:hover {
      transform: scale(1.08);
    }

    &__thumbnail {
      position: relative;

      .icon-image {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        width: 3rem;
        height: 3rem;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .5rem;
        background-color: #FE5621;

        image {
          display: inline-block;
        }
      }

      .image-box {
        @media (min-width: 768px) {
          display: block;
          overflow: hidden;
          height: 25.5rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    &__info {
      padding: 1rem 1.2rem;

      @media (min-width: 1400px) {
        display: grid;
        grid-gap: 1.2rem;
        grid-template-columns: 17rem 1fr;
      }

      .title {
        margin-bottom: 0;
        font-size: 1.5rem;
        color: $color-black;

        @media (min-width: 1400px) {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .meta {
        @media (min-width: 1400px) {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        a {
          font-size: 1.4rem;
          color: #697F94;
        }
      }
    }

    .right-box {
      color: #697F94;
      font-weight: 700;
      font-size: 1.4rem;

      @media (min-width: 1400px) {
        text-align: right;
      }
    }
  }
}

// Single tool
.site-single-tool {
  .entry-post {
    &__box {
      display: grid;
      grid-gap: 25px;
      grid-template-columns: 50% 1fr;
    }

    @media (max-width: 991px) {
      margin-top: 3rem;
    }
  }

  .entry-image {
    .slider-nav {
      margin-top: 1.6rem;

      .slick-list {
        margin: 0 -12px;
      }

      .slick-slide {
        margin: 0 12px;
      }
    }

    img {
      width: 100%;
    }
  }

  .entry-content {
    background-color: #ffffff;

    .heading {
      margin: 0;
      padding: 10px 18px;
      color: #ffffff;
      font-size: 1.6rem;
      background-color: #000000;
    }

    .info {
      padding: 23px 21px;

      &__top {
        margin-bottom: 18px;
        display: grid;
        grid-gap: 12px;
        grid-template-columns: 1fr auto;
        align-items: center;

        .title {
          margin-bottom: 0;
          font-size: 1.6rem;
        }

        .meta {
          margin-bottom: 15px;
          font-size: 1.4rem;
        }

        .money {
          font-weight: 700;
          color: #D72121;
        }

        .icon-image {
          padding: 6px;
          font-size: 1.4rem;
          color: #ffffff;
          border-radius: 4px;
          background-color: $background-tertiary;
          display: grid;
          grid-column-gap: 5px;
          grid-template-columns: 22px 1fr;
          align-items: center;

          img {
            position: relative;
            top: -2px;
          }
        }
      }

      &__middle {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 1.4rem;

        li {
          margin-bottom: 16px;
          padding-bottom: 12px;
          font-size: 1.5rem;
          display: grid;
          grid-gap: 12px;
          grid-template-columns: 1fr auto;
          border-bottom: 1px solid #A9A9A9;
        }
      }

      &__bottom {
        font-size: 1.5rem;
        color: #6B6B6B;
      }
    }
  }

  .tool-related {
    margin-top: 6rem;

    .heading {
      margin-bottom: 1.6rem;
      text-transform: uppercase;
    }

    .slick-slide {
      margin: 0 1.2rem;
    }


    .slick-list {
      margin: 0 -1.2rem;
      padding: 1.6rem 0 2.8rem;
    }
  }
}