@import "../../variables-site/variables";

@import "../../components/products";
@import "../../components/product-grid-cat";
@import "../../components/accordion-my-theme";

.site-single-product {
  .product-info-warp {
    display: flex;
    flex-wrap: wrap;

    > div {
      @media (min-width: 576px) and (max-width: 991px) {
        width: 50%;
      }

      @media (max-width: 575px) {
        width: 100%;
      }
    }

    .thumbnail-box {
      @media (min-width: 992px) {
        width: 40%;
      }
    }

    .slider-product-galleries {
      .item {
        padding: 2.4rem;
        border: .1rem solid #000000;

        @media (min-width: 768px) {
          height: 60rem;
        }

        @media (max-width: 767px) {
          height: 50rem;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .slider-product-gallery-nav {
      margin-top: 3.3rem;
    }

    .body-box {
      @media (min-width: 992px) {
        padding-left: 7rem;
        width: 60%;
      }

      @media (min-width: 576px) and (max-width: 991px) {
        padding-left: 3rem;
      }

      .heading {
        margin-bottom: 1rem;
        display: flex;

        @media (min-width: 992px) {
          align-items: center;
          justify-content: space-between;
        }

        @media (max-width: 991px) {
          flex-direction: column;
          align-items: start;
        }
      }

      .action-box {
        margin-top: 2.7rem;

        .link {
          display: inline-block;
          padding: .5rem 3rem;
          font-size: 1.6rem;
          line-height: 1.8rem;
          border-radius: .5rem;

          &:hover {
            color: #000000;
          }
        }
      }
    }

    .product-title {
      margin: 0;
      font-size: 2.4rem;
    }

    .content-product-detail {
      padding: 1.5rem 6rem 1.5rem 3rem;
      position: relative;
      max-height: 55rem;
      overflow: hidden;
      color: $color-black;
      background-color: #F9F8F8;

      &.simplebar-active {
        overflow: auto;
      }

      .simplebar-track {
        &.simplebar-vertical {
          top: 1.8rem;
          right: 1.4rem;
          bottom: 2.7rem;
          width: 1.8rem;
          border-radius: 2rem;
          background: rgba(217, 217, 217, 0.6);

        }
      }

      .simplebar-scrollbar {
        &:before{
          border-radius: 2rem;
          background: rgba(211, 210, 210, 1);
        }
      }
    }
  }

  .product-code {
    margin-top: .2rem;

    &__line {
      width: 5rem;
      height: .2rem;
      background-color: $color-secondary;
    }

    &__text {
      padding: 0 1.2rem;
    }
  }

  .tabs-warp {
    margin-top: 5rem;

    .nav-pills {
      margin-bottom: 3rem;
      
      @media (max-width: 479px) {
        display: grid;
        grid-template-columns: 1fr;
      }

      .nav-item {
        margin-bottom: .8rem;
        padding: 0 1.4rem;
      }

      .nav-link {
        position: relative;
        padding: .3rem 3rem;
        font-size: 1.4rem;
        color: #FDCD26;
        border: .1rem solid currentColor;
        border-radius: 0;
        background-color: transparent;
        @include transition();

        &::after {
          position: absolute;
          content: "";
          left: 0;
          bottom: -1rem;
          right: 0;
          height: 3px;
          opacity: 0;
          background-color: #F9C50C;
          @include transition();
        }

        &:hover {
          border-color: #000000;
          background-color: #000000;
        }

        &.active {
          border-color: #000000;
          background-color: #000000;

          &::after {
            opacity: 1;
          }
        }
      }
    }

    .tab-content {
      font-size: 2rem;
    }

    .product-color {
      .pattern {
        position: relative;
        padding-bottom: 4.8rem;

        &__title {
          margin-bottom: 3.8rem;
          font-size: 1.6rem;
          text-transform: uppercase;
        }

        &__posts {
          margin-bottom: 50px;
          display: grid;


          @media (min-width: 992px) {
            grid-gap: 2.4rem 4.8rem;
            grid-template-columns: repeat(4, 1fr);
          }

          @media (max-width: 991px) {
            grid-gap: 1.2rem;
          }

          @media (min-width: 576px) and (max-width: 991px) {
            grid-template-columns: repeat(2, 1fr);
          }
        }

        .item-pattern {
          position: relative;
          cursor: pointer;
          @include transition();

          &:before,
          &:after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            visibility: hidden;
          }

          &:before {
            border-top: 3px solid $background-hover;
            border-right: 3px solid $background-hover;
            transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
            top: 0;
            left: 0;
          }

          &:after {
            border-left: 3px solid $background-hover;
            border-bottom: 3px solid $background-hover;
            bottom: 0;
            right: 0;
            transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .item-name {
            padding: 1.2rem;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            font-weight: 600;
            font-size: 1.8rem;
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
          }

          &:hover {
            &:before,
            &:after {
              width: 100%;
              height: 100%;
              visibility: visible;
            }

            &:before {
              transition: width 0.1s ease, height 0.1s ease 0.1s;
            }

            &:after {
              transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
            }
          }

          &.active,
          &:hover {
            //@include box-shadow(0px 20px 30px rgba(0, 0, 0, 0.5))
          }
        }

        &__style {
          margin-bottom: 0;
          padding-left: 3rem;
          font-size: 1.6rem;
          text-transform: uppercase;
        }

        .spinner-box {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }

      .list-color {
        display: grid;
        grid-gap: 3rem;
        @include transition();

        @media (min-width: 576px) {
          grid-template-columns: repeat(3, 1fr);
        }

        ~ .list-color {
          margin-top: 3rem;
        }

        .item {
          position: relative;
          overflow: hidden;
          cursor: pointer;

          img {
            width: 100%;
          }

          &__content {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;

            .color-mix {
              padding: 12px 32px;
              opacity: 0;
              visibility: hidden;
              @include transition();

              &__item {
                margin: 0 0 10px;

                span {
                  padding: 2px 10px;
                  display: inline-block;
                  color: #fff;
                  font-size: 1rem;
                  font-weight: 300;
                  text-align: center;
                  border-radius: 24px;
                  border: 1px solid #ffffff;
                }
              }
            }

            .info {
              padding: 12px 32px;
              background-color: rgba(0, 0, 0, 0.4);
              @include flexbox();
              @include justify-content(space-between);

              p {
                margin: 0;
                font-size: 1.4rem;
                color: #ffffff;
                font-weight: 600;
              }
            }
          }

          .info {
            span {
              position: relative;
              display: inline-block;

              ~ span {
                &:before {
                  content: "-";
                }
              }
            }
          }

          &:hover {
            .color-mix {
              opacity: 1;
              visibility: visible;
            }
          }
        }

        &.hidden-item {
          opacity: 0;
        }
      }

      .group-color {
        &__grid {
          .item {
            position: relative;

            .spinner-load-color {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: rgba(0,0,0,0.5);
              @include flex-center();
            }
          }
        }

        .box-full-color {
          .item-full {
            display: grid;
            grid-gap: 2.4rem;
            grid-template-columns: 70rem 1fr;
          }
        }
      }
    }

    .product-gallery-grid {
      margin: 0 -12px;

      .item {
        padding: 0 12px;
        margin-bottom: 24px;

        img {
          width: 100%;
        }
      }

      .grid-sizer-normal {
        width: 33.33333333%;
      }

      .grid-sizer-full {
        width: 100%;
      }
    }

    .construction-process-product {
      max-width: 90rem;
      margin: 0 auto;
    }
  }
}

.related-product {
  margin-top: 5rem;
  margin-bottom: 2rem;

  &__title {
    margin-bottom: 2rem;
    text-align: center;

    @media (min-width: 992px) {
      font-size: 2rem;
    }

    @media (max-width: 991px) {
      font-size: 1.8rem;
    }
  }

  &__grid {
    .item {
      margin-bottom: 2rem;
      padding: 2.4rem 2.4rem 4rem;
      position: relative;
      border: .1rem solid rgba(114, 114, 114, 0.2);
      border-radius: 2rem;
      @include transition();

      &__thumbnail {
        margin-bottom: 1rem;

        img {
          @include transition();
        }
      }

      .title {
        margin-bottom: 0;
        font-size: 1.4rem;
        text-align: center;
      }

      .action-box {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1.8rem;
        text-align: center;

        .link-detail {
          display: inline-block;
          padding: .35rem 2.3rem;
          font-size: 1.4rem;
          color: #000000;
          font-weight: 700;
          background-color: #FDCD26;
        }
      }

      &:hover {
        box-shadow: 0 .3rem .5rem #888888;

        .item {
          &__thumbnail {
            img {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}