@import "../../variables-site/variables";

@import "../../components/action-tax-search";
@import "../../components/project-related";

.project-grid {
  display: grid;
  grid-gap: 2.4rem;

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 576px) and (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.site-project-cat {
  .heading {
    margin-bottom: 3.2rem;
    font-size: 2.4rem;
    font-weight: 600;
  }

  .element-section-newsletter {
    margin-top: 5rem;
  }
}

.site-result-project {
  .heading {
    margin-bottom: 2.4rem;

    .page-title {
      font-size: 2.4rem;
    }
  }

  .form-search-project {
    margin-bottom: 3rem;
    display: grid;
    grid-gap: 2.4rem;
    grid-template-columns: repeat(2, 1fr) 25rem;

    .group-control {
      margin: 0;
    }

    .search-submit {
      margin: 0;
    }
  }
}