@import "../../variables-site/variables";

@import "../../components/newsletter";
@import "../../components/project-related";

.site-single-project {
  padding-top: .8rem;

  .form-search-project {
    margin-bottom: 3.6rem;

    .control-warp {
      display: grid;
      grid-template-columns: 1fr 37.5rem;
    }

    .group-control-radio {
      display: grid;
      grid-template-columns: repeat(6, auto);
    }

    .group-search-key {
      position: relative;

      .search-field {
        padding: 0 3.2rem 0 1rem;
        height: 100%;
      }

      .search-submit {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 3rem;
        color: #000000;
        border: 0;
        background-color: transparent;
      }
    }
  }

  .banner {
    margin-bottom: 6rem;
    position: relative;
    height: 40rem;
    overflow: hidden;
    background-color: #aaa;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .info {
      position: absolute;
      top: 0;
      right: 2.4rem;
      bottom: 0;
      left: 2.4rem;

      .sub-text {
        margin-bottom: 1.2rem;
        color: $color-secondary;
        font-weight: 700;
      }

      .title {
        margin-bottom: 8rem;
        color: $color-white;
        text-transform: uppercase;

        @media (min-width: 992px) {
          font-size: 3rem;
        }

        @media (max-width: 991px) {
          font-size: 2rem;
        }
      }

      .tax {
        a {
          display: inline-block;
          color: $color-white;
          font-size: 2rem;

          &:hover {
            color: $color-secondary
          }
        }
      }
    }
  }

  .entry-content {
    display: grid;
    grid-gap: 24px 32px;
    grid-template-columns: 50% 1fr;

    .post-image {
      &__feature {
        margin-bottom: 20px;

        img {
          width: 100%;
        }
      }

      &__gallery {
        .slick-list {
          margin: 0 -8px;
        }

        .slick-slide {
          margin: 0 8px;
        }
      }
    }

    .post-content {
      &__warp {
        padding: 2.5rem 3rem;
        color: $color-black;
        background-color: #F1F1F1;

        .heading-box {
          margin-bottom: 1.2rem;
          display: grid;
          grid-gap: 1.2rem;
          grid-template-columns: 1fr auto;

          .post-content__heading {
            margin-bottom: 0;
          }
        }
      }

      &__desc {
        margin-bottom: 3rem;
      }

      &__info {
        li {
          ~ li {
            margin-top: .2rem;
          }

          &.model {
            .txt-value {
              color: $color-secondary;
            }
          }
        }
      }
    }
  }

  .element-section-newsletter {
    margin-top: 6rem;
  }
}

.site-single-project-related {
  margin-top: 8rem;

  .title {
    margin-bottom: 3rem;
  }
}