@import "../variables-site/variables";

// element hero banner
.element-hero-banner-main {
  --fs-caption: 6.2rem;
  --fs-headline: 6.9rem;

  --footer-pdb: 5rem;

  position: relative;
  height: 100vh;

  .hero-image {
    height: inherit;
    overflow: hidden;
  }

  .hero-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &__top {
      padding-top: 9.8rem;
      flex: 1;
      flex-direction: column;
      @extend %flex-justify-center;

      .hero-caption {
        line-height: 1;
        font-family: $font-primary;
        color: #fff;
        font-size: var(--fs-caption);

        + .hero-headline {
          margin-top: 1.6rem;
        }
      }

      .hero-headline {
        margin: 0;
        line-height: 1;
        font-family: $font-primary;
        color: $color-secondary;
        font-size: var(--fs-headline);
      }

      .hero-action {
        margin-top: 5rem;
      }
    }

    &__footer {
      padding-bottom: var(--footer-pdb);

      .hero-scroll-hint {
        animation: float-vertical 1.5s ease-in-out infinite;
      }

      .mouse-icon {
        position: relative;
        width: 2.638rem;
        height: 3.517rem;
        border: .067rem solid rgba(255, 255, 255, 1);
        border-radius: 1.265rem;
        backdrop-filter: blur(4.726942539215088px);
        overflow: hidden;

        .wheel {
          position: absolute;
          width: .329rem;
          height: .727rem;
          top: .8rem;
          left: 50%;
          border-radius: 0.599rem;
          background-color: #fff;
          transform: translateX(-50%);
          animation: scroll-wheel 1.5s infinite;
        }
      }

      .arrow-down {
        color: #fff;
        font-size: 2.2rem;
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    --fs-caption: 5rem;
    --fs-headline: 5.9rem;
  }

  @media (max-width: 991px) {
    --fs-caption: 3rem;
    --fs-headline: 3.9rem;

    --footer-pdb: 2rem;

    --btn-size: 1.6rem;
    --btn-pd: 1.2rem;
  }
}

.hero-btn {
  --btn-pd: 1.8rem;
  --btn-fs: 2rem;

  padding: var(--btn-pd);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #fff;
  font-size: var(--btn-fs);
  font-weight: 500;
  line-height: 1;
  border: 1px solid #fff;
  border-radius: .6rem;
  background: rgba(255, 255, 255, 0.24);
  @include transition();

  &:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.4);
  }
}

/* Keyframes cho khối nhảy lên xuống */
@keyframes float-vertical {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Nhảy lên 10px */
  }
}

/* Keyframes cho con lăn chuột */
@keyframes scroll-wheel {
  0% {
    opacity: 1;
    top: .8rem;
  }
  100% {
    opacity: 0;
    top: 2rem;
  }
}

// element partner
.element-partner {
  &__warp {
    margin: 0 auto;

    @media (min-width: 1200px) {
      max-width: 90%;
    }

    @media (max-width: 1199px) {
      padding: 0 1.2rem;
    }

    img {
      @media (min-width: 992px) {
        max-width: 16.5rem;
      }

      @media (max-width: 991px) {
        max-width: 12rem;
      }
    }
  }
}

// element group gallery
.element-group-gallery {
  .splide {
    + .splide {
      margin-top: 1.2rem;
    }

    &__slide {
      overflow: hidden;
      border-radius: 2.7rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

// element about
.element-about {
  padding-top: 8rem;

  &__heading {
    margin-bottom: 7.6rem;
    font-size: 10rem;
    font-weight: 900;
    line-height: 1.2;
  }

  &__body {
    position: relative;
    min-height: 94.6rem;
    background-color: rgba(0,0,0,0.2);
    overflow: hidden;

    > div {
      min-height: inherit;
    }
  }

  &__media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }

  &__content {
    padding: 10.8rem 6rem;
    position: relative;
    z-index: 2;
    max-width: 68rem;
    min-height: inherit;
    color: #fff;
    border: 1px solid #979797;
    box-sizing: border-box;
    background-color: rgba(27, 27, 27, 0.84);
    backdrop-filter: blur(10.6px);
    -webkit-backdrop-filter: blur(10.6px);

    .sub-heading {
      margin-bottom: 4.4rem;
      font-size: 4rem;
      color: #fff;
      font-weight: 900;
      line-height: 1.2;
    }

    .description {
      font-size: 2.4rem;
      text-align: justify;

      p {
        &:not(:last-child) {
          margin-bottom: 4.4rem;
        }
      }

      + .hero-btn {
        margin-top: 4.4rem;
      }
    }

    .hero-btn {
      --btn-pd: 1.2rem 2.4rem;
      --btn-fs: 3rem;
    }
  }
}