@import "../variables-site/variables";

// element hero banner
.element-hero-banner-main {
  --fs-caption: 6.2rem;
  --fs-headline: 6.9rem;

  --footer-pdb: 5rem;

  --btn-size: 2rem;
  --btn-pd: 1.8rem;

  position: relative;
  height: 100vh;

  .hero-image {
    height: inherit;
    overflow: hidden;
  }

  .hero-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &__top {
      padding-top: 9.8rem;
      flex: 1;
      flex-direction: column;
      @extend %flex-justify-center;

      .hero-caption {
        line-height: 1;
        font-family: $font-primary;
        color: #fff;
        font-size: var(--fs-caption);

        + .hero-headline {
          margin-top: 1.6rem;
        }
      }

      .hero-headline {
        margin: 0;
        line-height: 1;
        font-family: $font-primary;
        color: $color-secondary;
        font-size: var(--fs-headline);
      }

      .hero-action {
        margin-top: 5rem;
      }

      .hero-btn {
        padding: var(--btn-pd);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;
        color: #fff;
        font-size: var(--btn-size);
        font-weight: 500;
        line-height: 1;
        border: 1px solid #fff;
        border-radius: .6rem;
        background: rgba(255, 255, 255, 0.24);
        @include transition();

        &:hover {
          background: rgba(255, 255, 255, 0.4);
        }
      }
    }

    &__footer {
      padding-bottom: var(--footer-pdb);

      .hero-scroll-hint {
        animation: float-vertical 1.5s ease-in-out infinite;
      }

      .mouse-icon {
        position: relative;
        width: 2.638rem;
        height: 3.517rem;
        border: .067rem solid rgba(255, 255, 255, 1);
        border-radius: 1.265rem;
        backdrop-filter: blur(4.726942539215088px);
        overflow: hidden;

        .wheel {
          position: absolute;
          width: .329rem;
          height: .727rem;
          top: .8rem;
          left: 50%;
          border-radius: 0.599rem;
          background-color: #fff;
          transform: translateX(-50%);
          animation: scroll-wheel 1.5s infinite;
        }
      }

      .arrow-down {
        color: #fff;
        font-size: 2.2rem;
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    --fs-caption: 5rem;
    --fs-headline: 5.9rem;
  }

  @media (max-width: 991px) {
    --fs-caption: 3rem;
    --fs-headline: 3.9rem;

    --footer-pdb: 2rem;

    --btn-size: 1.6rem;
    --btn-pd: 1.2rem;
  }
}

/* Keyframes cho khối nhảy lên xuống */
@keyframes float-vertical {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Nhảy lên 10px */
  }
}

/* Keyframes cho con lăn chuột */
@keyframes scroll-wheel {
  0% {
    opacity: 1;
    top: .8rem;
  }
  100% {
    opacity: 0;
    top: 2rem;
  }
}

// element partner
.element-partner {
  &__warp {
    margin: 0 auto;

    @media (min-width: 1200px) {
      max-width: 90%;
    }

    @media (max-width: 1199px) {
      padding: 0 1.2rem;
    }

    img {
      @media (min-width: 992px) {
        max-width: 16.5rem;
      }

      @media (max-width: 991px) {
        max-width: 12rem;
      }
    }
  }
}