@import "../variables-site/variables";

.element-hero-banner-main {
  position: relative;
  height: 100vh;

  .hero-image {
    height: inherit;
    overflow: hidden;
  }

  .hero-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &__top {
      padding-top: 10rem;
      flex: 1;
      flex-direction: column;
      @extend %flex-justify-center;

      .hero-caption {
        line-height: 1;
        font-family: $font-primary;
        color: #fff;
        font-size: 6.2rem;

        + .hero-headline {
          margin-top: 1.6rem;
        }
      }

      .hero-headline {
        margin: 0;
        line-height: 1;
        font-family: $font-primary;
        color: $color-secondary;
        font-size: 6.9rem;
      }

      .hero-action {
        margin-top: 5rem;
      }

      .hero-btn {
        padding: 1.8rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;
        color: #fff;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1;
        border: 1px solid #fff;
        border-radius: .6rem;
        background: rgba(255, 255, 255, 0.24);
        @include transition();

        &:hover {
          background: rgba(255, 255, 255, 0.4);
        }
      }
    }

    &__footer {
      padding-bottom: 5rem;

      .hero-scroll-hint {
        animation: float-vertical 1.5s ease-in-out infinite;
      }

      .mouse-icon {
        position: relative;
        width: 2.638rem;
        height: 3.517rem;
        border: .067rem solid rgba(255, 255, 255, 1);
        border-radius: 1.265rem;
        backdrop-filter: blur(4.726942539215088px);
        overflow: hidden;

        .wheel {
          position: absolute;
          width: .329rem;
          height: .727rem;
          top: .8rem;
          left: 50%;
          border-radius: 0.599rem;
          background-color: #fff;
          transform: translateX(-50%);
          animation: scroll-wheel 1.5s infinite;
        }
      }

      .arrow-down {
        color: #fff;
        font-size: 2.2rem;
      }
    }
  }
}

/* Keyframes cho khối nhảy lên xuống */
@keyframes float-vertical {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Nhảy lên 10px */
  }
}

/* Keyframes cho con lăn chuột */
@keyframes scroll-wheel {
  0% {
    opacity: 1;
    top: .8rem;
  }
  100% {
    opacity: 0;
    top: 2rem;
  }
}